[2014-01-05 22:07] andybak opened #1 "Add django-filter to list of requirements in readme"
I'm guessing it's required? However - it confused me at first that it wasn't listed.

[2014-02-19 13:54] scottwoodall opened #2 "'range' lookup types do not work"
Can you show an example that uses `fieldname__range`? After trying some things myself, googling and browsing source code of this project and `django-filter` I've come up empty handed.

[2014-07-25 01:19] 13rac1 opened #4 "Feature request - Simplified custom lookup filter types"
This makes the most sense applied to django-rest-framework-filter.

Creating custom lookup filters can be tedious with DRF (not using django-rest-framework-filter):

[code]

Here's the same thing with TastyPie:

[code]

It would be great if a _filtering_ dictionary were similarly optionally supported with DRF. Maybe this should be an issue on DRF? I'm not sure.

Thanks!

[2014-09-09 22:25] #4 closed, assigned to nobody

[2014-10-29 17:11] nmqanh opened #6 "lookup type `isnull` does not work"
I tried with
[code]

step work with step__gte, step__gt, step__lt, step__lte.... but not work with
step__isnull=True, step__isnull=False, step__isnull=1, step__isnull=0...
Every lookup type work except `isnull`

[2014-12-11 15:05] AndySun25 opened #8 "N^2 complexity in ChainedFilterSet regardless of how many actual conditions are passed"
At the moment the initialization of ChainedFilterSet iterates over all possible combinations of fllters. Can this be changed to instead only iterate over filters that are passed as arguments?

    class ChainedFilterSet(django_filters.FilterSet):
        def __init__(self, *args, **kwargs):
        .....

        for name, filter_ in six.iteritems(self.filters):

[2014-12-12 09:28] philipn opened #9 "Investigate using simplified django-filter dict definition"
C/o @slafs, https://github.com/alex/django-filter/pull/162 will probably simplify our code here.

[2014-12-12 23:36] SEJeff opened #10 "A way to run .exclude instead of .filter"
In the ORM you could do:

It would be awesome to replicate this functionality here. Perhaps prefacing the filter with `__exclude` ie:

    http://some.serv.e.r/api/beers/?exclude__name__icontains='bud'

[2015-01-01 22:46] Rigdon commented on #6
Just wanted to leave a note that I've been experiencing this too. Haven't had time to really dig into it but I'll try soon.

[2015-01-08 14:19] JockeTF commented on #8
I work on the same project as Andy and asked him to create an issue about the large number of iterations we were seeing in the constructor. Sorry that it took so long, but I'll try to explain my findings in more detail now.

Note that this was tested with django-rest-framework-chain 0.1.3.

I was running a profiler on our project and saw that around 5% of the cumulative time was spent in the const

[2015-01-09 10:53] JockeTF commented on #8
Nope!

That breaks filtering for us:

[code]

After fixing that:

[code]

I don't think it would help though since `__new__` is called each time an instance is created:

[code]

I think what you're looking for is meta classes:

[code]

[2015-01-13 06:39] philipn commented on #8
I've merged some of the changes I've been making over the past little while, including a project rename ("django-rest-framework-chain" -> "django-rest-framework-filters").  I've also implemented a new `DjangoFilterBackend` which will cache repeated invocations of the same `FilterSet`, which is what I thought DRF was doing in the first place.  This should, hopefully, resolve the performance issues

[2015-01-13 09:14] JockeTF commented on #8
Nope!

The new changes to master actually made our tests around one second slower, requiring 15 instead of 14 seconds. I will look into solving this issue with meta classes, but it might take a little while before I get started on this.

Thanks for the help so far!

[2015-01-13 10:42] philipn commented on #8
@JockeTF Can you provide information on how your tests are being run?  Are you using the new `DjangoFilterBackend`?  On our setup (@localwiki), the new `DjangoFilterBackend` only calls the filterset iteration code on the first call, and subsequent requests (per thread, of course) use the same pre-generated filterset.

[2015-01-13 14:02] JockeTF commented on #8
You are correct!

I wasn't using your new `DjangoFilterBackend`. This reduces our total testing time from 14 to 13 seconds. Thank you very much for that!

I managed to make some further improvements on master by adding the following to `FilterSet`:

[code]

With these changes I managed to reduce our total testing time from 13 to 11 seconds.

I haven't looked into the reason for this, but it seems

[2015-01-14 07:42] thedrow opened #12 "Consider merging this back to django-filter"
Now that django-filter has an active maintainer I don't see a reason why it shouldn't be reviewed and accepted.

[2015-01-28 14:48] tomprt commented on #10
This can be done like this
[code]
I've created a pull request that should fix a bug that prevents exclude from being propagated to the child filters.

Also, to make it less tedious you could use create a meta class to automatically generate the exclude filters.
It is also can be implemented in the FilterSet class, perhaps by adding a field to the Meta class, something like:
[code]

if @philipn thi

[2015-01-28 15:22] SEJeff commented on #10
So with the exclude_suffix would you do something in the query such as:

name__startswith=!bob

To exclude name startswith bob

[2015-01-31 03:45] edmondztt opened #14 "DjangoFilterBackend AttributeError: 'NoneType' object has no attribute 'verbose_name'"
Hi, I'm using django-rest-framework-filters in my project, and it works quite well for some of my models which has FK & M2M. However, it doesn't work for some other models and I've posted a question on stackoverflow:
http://stackoverflow.com/questions/28247920/djangofilterbackend-not-working-with-my-models-manytomany
This seems quite a strange error. Many thanks!

This turns out to be a simple sol

[2015-02-01 13:51] philipn commented on #10
I'm not sure what syntax/format is best here, but my gut impression is that it might be best to *only* allow this to be done via a suffix/prefix format, rather than recommend it be done using an `exclude` keyword argument in the `FilterSet`.  If we allow both the keyword and the suffix/prefix syntax, this opens up two entirely different ways to exclude result sets, which could be confusing.  Of co

[2015-02-01 21:36] SEJeff commented on #10
Looks excellent to me and sounds totally reasonable.

[2015-02-03 00:49] philipn commented on #14
@edmondztt Thanks for this report. Is this a bug or was this an improperly defined FilterSet?

[2015-02-03 01:15] kevin-brown commented on #14
@philipn Based on [the comment on the Stack Overflow question](https://stackoverflow.com/questions/28247920/djangofilterbackend-not-working-with-my-models-manytomany#comment44859752_28247920), it was an improperly defined `FilterSet`.

[2015-02-04 07:24] houkk opened #15 "Date lookup types do not work (year, day, ...)"
2015-02-10 format,__year failure

[2015-02-04 14:37] philipn commented on #14
Thanks @kevin-brown !

[2015-02-16 11:02] yspanchal opened #16 "'in' lookups do not work"
can i use __in for multiple filters ?

[2015-03-14 04:36] #1 closed

[2015-03-16 14:06] vinograd19 commented on #16
+

[2015-04-24 16:37] cancan101 opened #21 "Remove usage of request.QUERY_PARAMS"
`request.QUERY_PARAMS` has been deprecated per: http://www.django-rest-framework.org/topics/3.1-announcement/#deprecations

Usage: https://github.com/philipn/django-rest-framework-filters/blob/cd3dbcd827aad68fd1399f31d91d54a6adf67ea0/rest_framework_filters/backends.py#L43

[2015-04-28 12:12] asermax opened #22 ""ImportError: No module named related" on latest django 1.8"
Aparently the `django.db.models.related` module was moved/removed/merged on latest django versions, which causes a import error when trying to use the filter backend.

[2015-05-05 19:35] DanielFerreiraJorge commented on #22
Same here

[2015-05-08 13:44] bstempi commented on #22
I'll see if I can get some time to put together a PR for this, but I saw this on some other issue:

try:
           from django.db.models.related import RelatedObject as ForeignObjectRel
        except:
          # django 1.8 +
          from django.db.models.fields.related import ForeignObjectRel

That would allow it to work for both Django 1.7 and 1.8.

The other issue:  https://github.com/treyh

[2015-05-13 18:45] philipn commented on #22
This should now be fixed. It looks like I'd forgotten to push a new release to PyPI.

[2015-05-13 18:45] #22 closed

[2015-05-24 17:26] DanielFerreiraJorge commented on #14
Actually, I think it is a bug... In my use case, I'm trying to filter based on an "annotated" field (count of a related object) that is not an actual field in the model... if I use a NumberFilter, I can do that... with the AllLookupsFilter I cannot...

[2015-05-24 21:59] philipn commented on #14
@DanielFerreiraJorge Could you open a new issue with an example failure (e.g. copy/paste of your classes)?

[2015-05-29 23:29] cancan101 opened #24 "Not Correctly Handling Timezone Aware Times"
This datetime does not seem to parse correctly: `2010-1-2T23:18:23.861723Z` even though [DRF handles the format](https://github.com/tomchristie/django-rest-framework/blob/ecb3ba5e1febedb817069affa8ec57b316096504/rest_framework/fields.py#L880-L884).

See also: http://www.django-rest-framework.org/api-guide/fields/#datetimefield

[2015-05-30 02:33] philipn commented on #24
I don't know off the top of my head, but I believe I added added in special date time handing here as, at the time, DRF was incapable of correctly parsing ISO 8601 formatted times.

[2015-05-30 06:04] philipn commented on #24
@cancan101 You may want to investigate here: https://github.com/philipn/django-rest-framework-filters/blob/master/rest_framework_filters/filters.py#L12

We may simply want to remove these definitions, as it appears DRF fixes this issue in its 3.0 release?

[2015-06-01 05:33] cancan101 commented on #24
I think it's actually Django which handles the datetime parsing: https://github.com/django/django/blob/0ed7d155635da9f79d4dd67e4889087d3673c6da/django/utils/dateparse.py#L84-L109

[2015-06-16 12:06] karmux opened #25 "Boolean filters don't work as expected"
[Django REST Framework](http://www.django-rest-framework.org/api-guide/filtering/) says that *When using boolean fields, you should use the values True and False in the URL query parameters, rather than 0, 1, true or false.*

This cannot be achieved with django-rest-framework-filters. Must use 0 or 1 for boolean field filtering. True and False doesn't work.

[2015-06-30 23:59] cancan101 commented on #24
Something like this (perhaps with a check to see if `'iso-8601'` is in `api_settings.DATETIME_INPUT_FORMATS`):
[code]

[2015-07-11 17:37] illing2005 opened #26 "Wanted functionality: Allow for OR as well as AND style filtering."
You mention this in "wanted functionality"
Is this still planned?
And is there a best practice to achieve OR functionality?

[2015-07-12 03:52] philipn commented on #26
A workaround for `OR` is to run two queries and combine their results.  It wouldn't be difficult to implement `OR`, the real question is what the syntax would be.

[2015-07-14 14:18] manuelnaranjo commented on #26
There's no need to combine the results, django ORM is smart enough for this you use the | symbol, thing is which syntax you use for the url querystring... why not just using | as Django would use?

[2015-08-06 14:34] maryokhin opened #27 "Support for Django REST framework 3.2"
Hello.

Just tried to upgrade to [Django REST framework 3.2](http://www.django-rest-framework.org/topics/3.2-announcement/), which was released a couple of minutes ago, and this package is the first one that broke. The problem is in the [usage](https://github.com/philipn/django-rest-framework-filters/blob/76fcd3cee38ff9820776b20650bb78b69d81f21a/rest_framework_filters/backends.py#L43-L45) of the d

[2015-08-06 21:44] philipn commented on #27
@maryokhin Thanks for the report! I haven't had a chance to test with DRF 3.2 yet, so this is great to know about. I think it's okay to drop support for versions below 3.0, and require people who want support for DRF < 3.0 to install an older version of this package instead.

[2015-08-07 10:24] maryokhin commented on #27
Ok, then from my point what makes sense:
* freeze the current master branch into some kind of `stable/0.3.x` branch and work on master
* Fix 3.2 deprecations
* Release 0.4.0

That way the old version is still available for development in case of a needed critical bugfix.

[2015-09-02 12:40] JockeTF opened #29 "Support filtering on strings with __in filters"
The current `__in` filter supports only filtering on integers. There are several cases where I'd like to use an `__in` filter on strings. For example, when looking up several users through the `username` field.

[2015-09-07 08:34] sunbest commented on #29
Any example about how to use '__in' ? thx

[2015-09-07 08:46] JockeTF commented on #29
The way it works now:

[code]

I'd like additional support for:

[code]

[2015-09-07 09:04] sunbest commented on #29
How config with filter_class

[2015-09-08 01:31] sunbest commented on #16
++

[2015-09-10 20:47] aronysidoro commented on #16
+1

[2015-09-16 23:05] #24 closed

[2015-09-17 01:37] jdugan1024 opened #32 "Errors when using rest_framework_filters.backends.DjangoFilterBackend"
I sometimes get errors stemming from the return value in the `filter_queryset()` method of `rest_framework_filters.backends.DjangoFilterBackend`.  If I switch to using `rest_framework.filters.DjangoFilterBackend` things work fine. I'm having a hard time quantifying it beyond that but here are two snippets of tracebacks that might give some context.

This is the more common one:
[code]

I also see

[2015-09-17 20:09] philipn commented on #32
Could you post an example FilterSet where you see this pop up?

[2015-09-18 00:10] jdugan1024 commented on #32
Here you go:

[code]

Thanks for taking a look at this.

[2015-09-28 09:54] karmux commented on #29
I just hit the same issue. __in filter doesn't work with strings.

[2015-09-29 04:37] #29 closed

[2015-09-29 17:54] JockeTF commented on #29
Thank You!

[2015-10-07 14:45] leifurhauks opened #37 "Python 3.5 OrderedDict implementation breaks django-rest-framework-filters"
Python 3.5 introduces a [new implementation](https://docs.python.org/3/whatsnew/3.5.html#whatsnew-ordereddict) of OrderedDict in C.

A test in my project started failing after I upgraded from python 3.4 to 3.5 with `RuntimeError: OrderedDict mutated during iteration`, so I decided to clone django-rest-framework-filters and run the tests using python 3.5.

Six of them failed with the same `RuntimeE

[2015-10-07 15:14] rpkilby commented on #6
Was this fixed by 3706d2cb6ad48452ffe94ff41951c649fd835222?

[2015-10-07 15:16] rpkilby commented on #21
This should have been fixed by ed0977b2afc3dee00d334dfc6370ba1f6e8f310e

[2015-10-12 20:56] #8 closed

[2015-10-12 20:56] #37 closed

[2015-10-12 21:24] leifurhauks commented on #37
:-)

[2015-10-14 15:26] #21 closed

[2015-10-14 15:32] rpkilby commented on #27
@maryokhin Closing this since 0.4.0 has been released.

[2015-10-14 15:32] #27 closed

[2015-10-14 15:49] rpkilby commented on #32
Hi @jdugan1024.
- Is this still an issue with the v0.5.0 release?
- If so, can you post the code for `LocationFilter`. It looks like the missing key was a related filter from that filterset.

[2015-10-14 21:57] jdugan1024 commented on #32
Hello.  Yes, that seems to have fixed it. I'm not sure if it was the v0.5.0 upgrade of this package or the upgrade to 0.11.0 of django-filters but that seems to have worked.  Thanks!

[2015-10-14 21:57] #32 closed

[2015-10-18 21:58] rpkilby opened #40 "Use new DRF-friendly FilterSet & Backend"
- [x] Update FilterSet (alex/django-filter#275)
- [x] Update Backend (tomchristie/django-rest-framework#3371)
- [x] Remove `BooleanFilter` - no longer necessary with equivalent in `rest_framework.filters`.

[2015-10-18 23:41] rpkilby commented on #12
Hi @thedrow. I don't know if @carltongibson wants to weigh in, but my initial thinking is that it makes more sense for this package to remain separate. The primary reason is that this package's performance is tied to the included DRF backend. Related filterset evaluation is fairly expensive, and the backend gets around this by caching the fully evaluated filtersets. Without the backend caching, th

[2015-10-18 23:41] #12 closed

[2015-10-18 23:54] rpkilby commented on #25
Hi @karmux. Can you include an example FilterSet and model?

[2015-10-18 23:58] rpkilby commented on #15
Hi @houkk, can you provide more details about the issue you're having? I'm assuming that you mean that year lookups are failing. ie,  `/api/foos?date_created__year=2015`

[2015-10-19 09:43] carltongibson commented on #12
I'm all for combining effort. :-)

[2015-10-26 13:07] karmux commented on #25
[code]

Must use `?is_active=0` or `?is_active=1`. Using false, False, true or True doesn't work.

[2015-11-12 17:04] ronsuez opened #42 "django-rest-framework-filters not compatible with django-filter 0.10.0"
Django==1.8.3
djangorestframework-filters==0.5.0
django-filter==0.10.0
python Version 2.7.6

I added the library to my INSTALLED APPS but when i try to run the app , it throws me the following error:

[code]

was searching in the [django-filter-docs](http://django-filter.readthedocs.org/en/latest/ref/filters.html#isodatetimefilter) and they have that filter defined , but the package cannot found i

[2015-11-12 19:48] rpkilby commented on #42
Hi @ronsuez. `IsoDateTimeFilter` was added in the 0.11.0 version of django-filter. You'll need to update the package.

[2015-11-12 19:55] rpkilby commented on #42
The setup script will need to be updated to reflect the minimum version requirement. Regardless, the end result is that django-filter>=0.11.0 is required.

[2015-11-12 20:58] ronsuez commented on #42
working, thanks @rpkilby

[2015-11-21 01:37] rpkilby commented on #26
I've done a little bit of thinking on this, and OR logic doesn't really seem feasible without defining a more complex query syntax. Query strings/params don't support groupings, which are necessary for arbitrary combinations of AND and OR queries.

eg,
Let's say that we do have a syntax for indicating OR queries. Simplifying the query as `A & B & C | D `, do we mean `(A & B & C) | D` or `A & B & (

[2015-11-21 02:07] rpkilby commented on #10
I've started working on a PR for this, but would anyone object to changing the syntax to
`name__startswith!=Bob`? Essentially, change it from a value prefix to a param suffix.

- Allows you to combine both a filter and exclude, since the param names wouldn't clash. (filter for articles containing 'Hello' in the title, but exclude those containing 'world'.

[code]
- It *is* valid to search for excl

[2015-11-21 02:08] rpkilby commented on #25
Thanks @karmux, I'll start working on a test case.

[2015-11-21 02:09] philipn commented on #10
I definitely prefer the `k!=v` syntax!  Also makes parsing a bit easier, I suspect.

[2015-11-22 21:57] rpkilby commented on #42
Fixed by a3556ed42c76a29841f1c9dc77524396c7554eaa

[2015-11-22 21:57] #42 closed

[2015-11-22 22:01] #10 closed

[2015-11-23 01:58] rpkilby commented on #14
Closing, since the original issue seems like it was resolved? (based on @kevin-brown's comment)

[2015-11-23 01:58] #14 closed

[2015-11-23 02:11] rpkilby commented on #15
This is similar to `isnull`, where the original value type (eg, auto-incrementing integer for relationships) differs from the isnull lookup's value type (boolean).

[2015-11-23 18:28] SEJeff commented on #10
Thanks! Can a pypi release be made with this new functionality?

[2015-11-23 19:07] philipn commented on #10
@SEJeff Just pushed out `0.6.0` to PyPI

[2015-11-23 20:34] SEJeff commented on #10
@philipn for president! Much appreciated.

[2015-12-19 00:11] mlissner opened #48 "Circular RelatedFilter configuration? Impossible?"
I have a database of judges each of whom have degrees from specific schools.

I want to use my API to either query judges that went to a specific school:

    /api/judges/?educations__school_name=vanderbilt

Or I want to filter which judges went to a specific school:

    /api/schools/?judges__race=black

I can set up a `RelatedFilter` on one of these, but when I set it up on the second one, it ca

[2015-12-21 15:53] kewama opened #49 "FilterSet.fix_filter_field not called for ALL_LOOKUPS dictionary style declarations"
The docs imply that ALL_LOOKUPS dictionary style declarations are equivalent to use of filters.AllLookupsFilter:

     ...we sometimes want to allow any possible lookups on particular fields. We do this by using AllLookupsFilter:
    <snip>
    Additionally, you may use ALL_LOOKUPS with dictionary style declarations.

However, these two approaches are not equivalent because the dictionary approach

[2015-12-21 23:01] mlissner commented on #48
Following up to this, I'm trying this for a separate model and realizing that it doesn't work because of circular import errors between to `filters.py` files that I've created (one for each model).

Seems like a big gap, so I'm hopeful that there's a way to make this work.

[2015-12-21 23:21] philipn commented on #48
Did you see the information at the end of the readme on recursive filters? E.g. filters.RelatedFilter('people.views.PersonFilter', name='best_friend')

If this stopped working then it may be a regression.

[2015-12-22 00:04] mlissner commented on #48
I feel like an idiot. I looked everywhere for this answer. Except the readme, dang it. Anyway, PR sent to tweak the readme. I figure if I screwed this up, other people will too.

[2015-12-22 00:04] #48 closed

[2015-12-24 01:54] rpkilby commented on #49
Great catch. I am currently working on a fix/tests.

[2015-12-25 02:39] #49 closed

[2016-01-08 19:44] edmorley opened #53 "Add a changelog"
I can't seem to find a changelog - either in the readme, as a separate file in the repo or detailed at https://github.com/philipn/django-rest-framework-filters/releases

Please could we add one? :-)

[2016-01-12 15:35] belugame commented on #16
+1

[2016-01-12 15:51] rpkilby commented on #16
Hi, character and integer field types should be supported in the current release. eg, `?id__in=1,2,3`. The issue remains open because a more general solution could exist to support more field types (dates, datetimes). If you need a new field type to be supported, leave a comment here.

[2016-01-12 16:07] belugame commented on #16
@rpkilby Thank you :) I just installed the latest release. I'm using all-lookup filters on my fields but the __in=1,2 syntax gives me an empty list still. Does it only work with certain filter classes?

[2016-01-12 17:10] rpkilby commented on #16
@belugame There is an issue with the current release where the dict-style `ALL_LOOKUPS` shortcut accidentally bypasses the overrides. See #49 for more details. Until a new release is made, you may need to use an `AllLookupsFilter` instance.

[2016-01-12 17:20] aronysidoro commented on #16
All,

I ended up writing a simple ViewSet Mixin in order to be able to support the **IN** keyword.  This works for different types, not just *integers*.

Here is the mixin:

[code]

To use this mixin, do:

[code]

[2016-01-12 17:54] rpkilby commented on #53
I'll get around to this at some point. For future reference: http://keepachangelog.com/
In the mean time,

## CHANGELOG

Unreleased:
- #49 Fix `ALL_LOOKUPS` shortcut to obey filter overrides (in, isnull)
- Drops support for Django 1.7

v0.6.0:
- #43 Adds a filter exclusion/negation syntax. eg, `?some_filter!=some_value`
- #44 Sets the minimum django-filter version required

v0.5.0:
- #38 Rework of

[2016-01-13 05:46] #6 closed

[2016-01-13 05:46] #25 closed

[2016-01-14 13:09] chozabu opened #54 "Complex filters?"
How complex can our filters be?

Say I have a Post model:

[code]

I want to find users who have an old post about gmail AND a new post about ymail

[code]

I don't see how I could currently do this with  DRFF? I'd actually like to be able to do much more complex filters too

[2016-01-14 13:26] chozabu commented on #54
I should note - I've already written some code to support this functionality in plain django - https://gist.github.com/chozabu/86b60caa0ce211f232da - the function takes a table name, list of filters, list of excludes, sort method and gives back JSON.

So, my above question would be answered like:

    http://endpoint?table=User&filters=[[posts__title__icontains="gmail", posts__publish_date__lte="0

[2016-01-14 16:45] philipn commented on #54
I believe the only problem here is the repeated `posts__title__icontains`.  To accomplish something like this we could allow for a repeated-filter-key heuristic.  I'm not sure what the HTTP spec says about repeating query string keys?

[2016-01-14 22:41] chozabu commented on #54
@philipn so - if we were to assume the HTTP spec allows for repeated query string keys - and they were decoded into a list of pairs, with order maintained, We could do a query like:

    http://endpoint/api/users/?posts__title__icontains="gmail", posts__publish_date__lte="01/01/2009",  posts__title__icontains="ymail", posts__publish_date__gte="01/01/2015"

 - note the lack of [[filters], [filters]

[2016-01-15 09:56] chozabu commented on #54
To expand on above thoughts:

    http://endpoint/api/users/?posts__title__icontains="gmail", posts__publish_date__lte="01/01/2009",  posts__title__icontains="ymail", posts__publish_date__gte="01/01/2015"

would resolve to either: (4 separate filters)

    User.objects.filter(posts__title__icontains="gmail").filter(posts__publish_date__lte="01/01/2009").filter(posts__title__icontains="ymail").filt

[2016-01-17 00:17] philipn commented on #54
Ah, I see what you're saying, now.  I'm not sure what / if we should do here.  Do other libraries allow queries as expressive as these?  It's almost as if we would want to duplicate all possible operations on querysets -- that could get messy.

Maybe we should suggest, for people who want multiple levels of queryset operations, that they define the operation explicitly on the FilterSet instead?

[2016-01-18 02:22] chozabu commented on #54
All possible operations on a query set would be a bit much, including annotation and aggregation - though, I'd sure be interested in such a lib!

 I'm not aware of libraries that allow this functionality - though I'd be surprised if something does not exist...

I can see how multiple querysets/excludesets are "on the line" - though this functionality is sure something that would be very handy - pa

[2016-01-18 06:56] rpkilby commented on #54
That's kind of the problem with the standard query string syntax - it's a single set of key/value pairs. We would need to define a more complex syntax that supports multiple filter sets. If we defined a multiple set syntax, then that would also allow us to add in OR and negation operations.

eg, something like:
[code]

Which would map to
[code]

@chozabu As to your original question. Even if we im

[2016-01-18 07:06] rpkilby commented on #54
Also, a couple of quick notes on query strings:
- The query string syntax is a single set of key/value pairs. There is no builtin syntax for grouping parameters.
- There is no official standard on handling repeated keys, although most web frameworks do support them. More info [here](https://en.wikipedia.org/wiki/Query_string#Web_forms).
- Django handles query strings with their [QueryDict](https:/

[2016-01-18 10:04] TeoTN opened #56 "Traceability"
Is there any documentation of the library with a full changelog between releases?

[2016-01-18 22:12] rpkilby commented on #56
Hi @TeoTN. See #53 for a partial changelog.

[2016-01-18 22:12] #56 closed

[2016-01-21 14:26] AndySun25 opened #58 "Exception on filtering related filters with non-existent field"
Attempting to filter on a non-existent field of a related filter will cause `cache_key()` method to attempt to sort on a NoneType value causing an exception.

Problematic line [here](https://github.com/philipn/django-rest-framework-filters/blob/master/rest_framework_filters/filterset.py#L165)

Example stack trace:
[code]

[2016-01-22 20:20] belugame commented on #16
@aronysidoro That's pretty neat! In my use case for a small intranet application I just want to allow any sort of database lookup the ORM provides with small exceptions like on the user's password field. With your code and some adaptions I guess I can do that without specifying filter_fields on each viewset. Thank you! :+1:

[2016-01-25 20:23] aronysidoro commented on #16
@belugame, you can also use the django fields _meta api to return all model fields, which is what we commonly do, since it returns all fields and allows them to then be searchable, unless you want to limit searchable fields of course.  Here's the one liner:

[code]

[2016-01-25 21:08] belugame commented on #16
@aronysidoro yep, my initial approach was similiar:

    field_filters = dict((f, filters.ALL_LOOKUPS) for f in klass._meta.get_all_field_names())
but it didn't work with related lookup and __in

[2016-01-26 08:47] TeoTN opened #59 "isnull lookup got broken"
Hello,

After upgrading the library from 0.3.1 to 0.6.0 isnull lookup got broken.

Models:
[code]

Filterset:
[code]

Thrown exception is: **Unsupported lookup 'isnull' for CharField or join on the field not permitted.**
There were some other issues with previous version of library that were presumably solved in 0.6, so I've updated it and came across that problem. Could you help?

Regards,
Piotr

[2016-01-26 19:00] rpkilby commented on #59
Hi @TeoTN - what is model and field you were performing the lookup on?

[2016-01-26 20:09] #58 closed

[2016-01-26 20:12] rpkilby commented on #58
Hi @AndySun25 - just pushed a fix to master branch. Could you verify that this fixes your issue?

Note that invalid related filters are simply discarded, as it's not really possible to distinguish between invalid filters and query params that are intended to be processed elsewhere. This is consistent with django-filter's behavior.

[2016-01-26 20:12] TeoTN commented on #59
I'm sorry, I've forgot to mention it. Model is Test and lookup is acceptancecriteria__isnull=True.

[2016-01-26 21:04] rpkilby commented on #59
I have a test case [here](https://github.com/rpkilby/django-rest-framework-filters/commit/8732bea9e769a05e029f3890361bdf4935aa349a), but I'm not able to recreate the issue you're having.

A couple of problems I noticed:
- The `name` field for `AcceptanceCriteria` is not actually nullable, so the query is nonsensical - it will always turn up empty.
- If you do make the pk nullable

[code]

  then D

[2016-01-27 11:17] AndySun25 commented on #58
Hi @rpkilby
The commit fixed the issue, thank you.

[2016-01-27 19:25] rpkilby commented on #59
Hi @TeoTN. The 0.12.0 release of django-filter exposed some bugs in our code, which should now be fixed. Could you install the master branch and verify that the exception is fixed?

[2016-01-27 19:25] #59 closed

[2016-01-27 19:29] rpkilby commented on #59
Worth mentioning - an existing test failed with the same exception when upgrading to the 0.12.0 version of django-filter. The changes just pushed to master fixes these issues, bringing the behavior back to what's expected.

[2016-01-27 21:56] rpkilby commented on #16
@belugame my previous comments was slightly incorrect. The dict-style declarations are broken in the current release, where certain lookups (`in`, `isnull`) are **not** being overriden. The `ALL_LOOKUPS` const is broken in turn, as it's just a list of all the [SQL query terms](https://github.com/django/django/blob/master/django/db/models/sql/constants.py#L10-L15). This should be fixed on the curre

[2016-01-27 22:04] philipn commented on #54
I've just pushed out a new release (0.7.0), so you should be able to do a normal `pip install` to see the fixes here.

[2016-01-27 22:06] philipn commented on #53
@rpkilby I've added these notes to the releases page here: https://github.com/philipn/django-rest-framework-filters/releases.  We probably also have `CHANGELOG` file in the repository.

[2016-01-28 18:02] #53 closed

[2016-02-01 13:42] chozabu commented on #54
So, for query strings, it looks like there are non-standard ways of passing arrays - http://stackoverflow.com/a/9547490/445831

But perhaps when a query complexity is getting to this level, it could make more sense to POST the query as json?

Also - nice links, was not aware you could link to a line range on github! And 0.7.0 seems good :)

[2016-02-05 08:14] rpkilby opened #62 "#363 tracking and cleanup"
The following issues should be merged once carltongibson/django-filter#363 is merged/released.

The above PR fixes longstanding issues with filter generation for various lookup types ('isnull', 'in', 'range'), as well as the newly introduced lookup transforms.

- #2
- #15
- #16

TODO:
- [x] finish 363
- [x] wait for next release
- [x] remove `fix_field_filter`, as it should no longer be necessary

[2016-02-06 08:02] qasimalbaqali opened #63 "__icontains filter doesn't work?"
The exact search i.e `?title=django` would give the right result. But whenever I use `title__icontains` or `title__startswith` it would return the whole ListView as in it's like without any filter. Is anyone experiencing this issue? Using Django 1.9 and DRF 3.3.2.

[2016-02-06 09:00] qasimalbaqali commented on #63
Got it to work. Played around with it, I guess I forgot to add something or haven't done it correctly. Confirmed working :+1:

[2016-02-06 09:00] #63 closed

[2016-02-06 19:44] borfast opened #64 "No field filters form on the browsable API"
I have a `rest_framework_filters.FilterSet`-derived class which works perfectly for filtering but it doesn't show any field filters in the browsable API.

I've been scouring the web for information about this but just can't find anything. Is it a known limitation that I somehow missed, or is it a bug? Maybe related to #40 (Use new DRF-friendly FilterSet & Backend)?

[2016-02-08 20:23] rpkilby commented on #64
Hi @borfast. drf-filters should be compatible w/ drf 3.3 but targets 3.2, as that's what was out at the time. The browsable API filters were added as part of 3.3, so I'm unsure if they are compatible. I looked into the source, and there's nothing that indicates to me that the form would not exist/be empty.

Relevant code is in the filter [backend](https://github.com/tomchristie/django-rest-framewo

[2016-02-09 00:13] borfast commented on #64
This is getting weirder and weirder...

I loaded the code in the debugger and followed the flow of execution all the way to the entrails of Django's templates system. In [NodeList.render() ](https://github.com/django/django/blob/stable/1.9.x/django/template/base.py#L988-L996) I could watch the various bits and pieces being assembled and I still see my filter class in the context that is passed to

[2016-02-09 02:19] rpkilby commented on #64
If you manually instantiate your FilterSet and call to_html with the appropriate args, do you get meaningful output? At that point, it should be a fully rendered string of HTML.

Also, I know there is special handling for when you have crispy forms & django-filter installed. Try uninstalling crispy forms and see if the form at least shows up.

[2016-02-09 13:41] borfast commented on #64
Uninstalling Crispy Forms doesn't seem to alter anything, the form is still missing.

As for instantiating my FilterSet and manually calling to_html on it, I'm not sure what parameters I should pass to it.

But I did some more digging and I think I'm zooming in on the problem. This time I followed the code into [crispy_forms/templatetags/crispy_forms_tags.py](https://github.com/maraujop/django-cri

[2016-02-09 16:12] rpkilby commented on #64
[to_html](https://github.com/tomchristie/django-rest-framework/blob/master/rest_framework/filters.py#L119-L128) is defined here. Looks like you need:
- a request object, although you could mock this out with a fake request
- the queryset for the model
- the relevant viewset

[2016-02-09 22:22] borfast commented on #64
I had already tried that - sorry, forgot to mention it on my previous comment.
But no joy, the resulting HTML code I get is still just an empty form.

Here's something I should probably have done sooner - my code (all crammed into a single place for simplicity):

[code]

[2016-02-11 17:59] rpkilby commented on #64
Okay - so I finally figured what's going on. The following works:
[code]

So why does the [template](https://github.com/tomchristie/django-rest-framework/blob/3.3.2/rest_framework/templates/rest_framework/filters/django_filter.html) render an empty form? Because [reasons](https://docs.djangoproject.com/en/1.9/ref/templates/language/#variables). Specifically,

The last sentence is particularly inte

[2016-02-11 18:10] rpkilby commented on #64
In the short term - it's not a great solution - but I would subclass our filter backend and override `to_html`.  Something like...
[code]

[2016-02-12 10:22] borfast commented on #64
Great detective job, @rpkilby! :)

I have been a bit away from this in the past couple of days because other things came up that I had to deal with but thanks a lot for looking into this and getting to the bottom of it.

Are you guys going to implement that solution in DRF-Filters or will you try to come up with something less "hacky"?

As a temporary solution I derived my `ReadingFilter` class fr

[2016-02-17 01:13] jackdbernier opened #65 "Support `__in` for field with `choices` defined."
The lookup type `in` is supported for CharField and NumberFiled though if a `choices` argument is passed to the field it won't work.

See fix_filter_field is using a condition on the type of `f`

[code]

Though if the field is provided with a `choices` attribute, it won't work. see https://github.com/alex/django-filter/blob/69767e12d0265fc4d0286db80aec88acd8783cf9/django_filters/filterset.py#L444

[2016-02-17 02:18] rpkilby commented on #65
Hi @jackdbernier. If this is a one off problem, I would try something like the following:
[code]

If this is a common issue for you, you could also override the behavior of `fix_filter_field` by subclassing `FilterSet`.

[2016-02-17 02:24] rpkilby commented on #64
I am currently attempting to restructure some of the related-filtering code. This should allow for a less hacky way of integrating with the html form.

[2016-02-17 17:40] rpkilby commented on #65
btw - I'm currently working on a patch for django-filter that _should_ negate the need for a fix in drf-filters (fix_filter_field would no longer be necessary).

[2016-02-21 08:13] snewcomer opened #69 "Unexpected keyword argument cache"
After upgrading past 0.4.0, I get an error when filtering on a queryset...

`got an unexpected keyword arguments cache`

Is there some configuration I am missing?  I am using a generic view set and on django rest 3.3.2.

https://github.com/philipn/django-rest-framework-filters/blob/68efb74dd021e2a38faf5817a6463188f73c83b3/rest_framework_filters/backends.py#L15

https://github.com/tomchristie/djang

[2016-02-21 08:48] rpkilby commented on #69
Hi @snewcomer. Most likely, you're inheriting from `django_filters.FilterSet` instead of `rest_framework_filters.FilterSet`. By default, any unrecognized keywords are passed to the underlying form Field, which is probably what's raising the error.

[2016-02-21 16:29] snewcomer commented on #69
@rpkilby so I should have mentioned I am using the standard django orm, basically calling

`queryset.filter(**kwargs) where kwargs may be {'name__icontains': 'foo'}`

This is probably my problem....

[2016-02-21 18:57] rpkilby commented on #69
I'm a little confused as to the usage. If you're not using FilterSets, there would be no need to use the backend. Could you provide a more complete example of the view, filterset, etc..?

[2016-02-21 22:24] snewcomer commented on #69
Yep this is my mistake.  Thanks for pointing it out.  I'll have to figure out why we aren't using this great package!

[2016-02-21 22:24] #69 closed

[2016-02-22 23:51] rpkilby commented on #64
So I ended up refactoring `get_filters`, and it turns out that this is the only reasonable way to fix form rendering. There are more complicated ways of disabling the `get_filters` call, but it's simpler to just force form evaluation before the queryset is evaluated.

[2016-02-27 23:49] #64 closed

[2016-02-28 00:06] borfast commented on #64
Thanks @rpkilby! I'll give it a try as soon as I can and will let you know if I find anything amiss.

[2016-02-28 01:14] rpkilby commented on #9
Hi @philipn. Do you think there's anything left to investigate here, or do you think we can close this? Thoughts:
- Handling exists for easily adding all lookups
- Related filters don't work well here, as you need to pass the filterset class to the filter constructor. We could add special handling, but at that point not much is really being gained.

[2016-03-02 11:05] blaze33 opened #71 "Using django_filters BooleanWidget breaks the rest framework browsable API"
Because it does not implement the `render` method. I also reported the issue to django-filters: https://github.com/carltongibson/django-filter/issues/383

I see that the BooleanWidget was introduced to fix issue #25 by commit https://github.com/philipn/django-rest-framework-filters/commit/d3fd92b842d46a07007d7ca82d58db7c236ce353 but I'm unable to reproduce issue #25 when using django.forms.Boolean

[2016-03-02 16:12] rpkilby commented on #71
Closing this based on the discussion in 383.

[2016-03-02 16:12] #71 closed

[2016-03-11 20:37] #62 closed

[2016-03-11 20:42] rpkilby commented on #2
Hi all, django-filter v0.13.0 now supports `in` & `range` csv lookups, as well as date transforms. There should be a new drf-filters release soon (v0.8.0) that is compatible with these updates.

[2016-03-11 20:42] #2 closed

[2016-03-11 20:43] rpkilby commented on #15
Hi @houkk, django-filter v0.13.0 now supports `in` & `range` csv lookups, as well as date transforms. There should be a new drf-filters release soon (v0.8.0) that is compatible with these updates.

[2016-03-11 20:43] #15 closed

[2016-03-11 20:43] rpkilby commented on #16
Hi all, django-filter v0.13.0 now supports `in` & `range` csv lookups, as well as date transforms. There should be a new drf-filters release soon (v0.8.0) that is compatible with these updates.

[2016-03-11 20:43] #16 closed

[2016-03-11 20:45] rpkilby commented on #65
Hi @jackdbernier, django-filter v0.13.0 now supports `in` & `range` csv lookups, as well as date transforms. The upcoming release of drf-filters (v0.8.0) should be released soon, and no longer relies on `fix_filter_field`.

[2016-03-11 20:45] #65 closed

[2016-03-11 21:34] rpkilby opened #75 "v0.8.0 release"
Hi @philipn - could you review and release v0.8.0 to pypi? This brings drf-filters up-to-date with the recent django-filter 0.13.0 release

Changelog:

[code]

[2016-03-11 21:38] rpkilby commented on #75
ach h/o

[2016-03-11 21:42] rpkilby commented on #75
Nevermind - had to check one thing

[2016-03-14 04:01] philipn commented on #75
Thanks! Should be all pushed and set now.

[2016-03-14 04:01] #75 closed

[2016-03-15 04:34] dbinetti opened #78 "compatible with django_model_utils Choices"
I am using @carljm's django_model_util Choices field.  is this package compatible?  i ask because i am trying to create a filter that uses the human-readable version of the choices field backing a model field, and can't get it to work.  if it is compatible, i'd love a concrete example to follow.  thanks...

[2016-03-15 06:19] rpkilby commented on #78
Hi @dbinetti. Looking over the code, the choices field is just a regular `CharField` that pulls its choices from the parent model, so it would exhibit the same characteristics as the underlying field.

What are you're trying to accomplish by using the human-readable value instead of the code value? Could you provide a concrete example?

Using the human-readable value is generally problematic, as t

[2016-03-16 02:31] philipn commented on #9
Yup, totally agree. Closing this to avoid issue clutter.

[2016-03-16 02:31] #9 closed

[2016-03-16 17:15] dbinetti commented on #78
I'm trying to make the URL human readable (and fungible directly).  However, your point about transformation makes good sense.   I'll let this go.

[2016-03-16 17:15] #78 closed

[2016-03-16 20:43] rpkilby commented on #78
I'd say your best bet is to use code values that are human friendly.

eg,
[code]

[2016-03-17 03:49] dbinetti commented on #78
actually, i'm using integers (order is important)  motel_utils allow for a
three-tuple (1,'foo', 'Foo Bar'), so that would potentially work, but i
think i'll just work things on the front end appropriately.

tks

On Wed, Mar 16, 2016 at 1:43 PM, Ryan P Kilby <notifications@github.com>
wrote:

[2016-03-22 03:52] snewcomer opened #79 "Upgrade to 0.8.0 'unknown output field'"
`Cannot resolve unknown expression type, unknown output field`

Any thoughts on what I am missing in my app?  I see a utils.py file was added, but having trouble tracing down the problem.
I'm on the latest Django & django filter, and rest framework packages.  Any thoughts on what I am missing b/w the jump from 0.7 to 0.8?

[code]

[2016-03-22 03:54] rpkilby commented on #79
Hi @snewcomer - is `full_name` computed?

[2016-03-22 04:21] snewcomer commented on #79
`full_name` is a field on the model
[code]

[2016-03-22 04:23] rpkilby commented on #79
ehh, stacktrace?

[2016-03-22 04:35] snewcomer commented on #79
`lookup(model_field)` prints out as person.Person.full_name
[code]

[2016-03-22 04:37] rpkilby commented on #79
Thanks - am taking a quick look to see if I can spot anything obvious.

[2016-03-22 04:48] rpkilby commented on #79
Hm, I'll have to dive into this further, but to give you an idea, `lookups_for_field` is trying to recursively generate all valid lookup expressions for a given field. eg, given a charfield instance, you would get lookups such as `exact`, `iexact`, `contains`, `icontains`, etc... For a datetime, you would also have transformed lookups such as `year__gte`.

[2016-03-22 08:06] rpkilby commented on #79
Hi @snewcomer, I tried to recreate this but had to make a few modifications.
- Simplified `PersonManager.get_queryset()` as there is no `deleted` field to filter on.
- Commented out ForeignKeys to unprovided models (Status, Locale, PhoneNumber)
- Commented out additional `NewPerson` model attributes and methods.

The test branch is [here](https://github.com/rpkilby/django-rest-framework-filters/tr

[2016-03-29 16:14] rpkilby commented on #79
Hi @snewcomer, were you able to resolve this?

[2016-03-29 16:25] snewcomer commented on #79
Been out of town.  Hopefully by the end of the week.  Sry about that!

[2016-03-29 18:43] rpkilby commented on #79
No worries. Just ping back when you have new info. Thanks.

[2016-03-31 23:53] snewcomer commented on #79
It's actually this line....remove it and all is good / tests pass.

`full_name = AllLookupsFilter(name='full_name')`

[2016-04-02 20:21] rpkilby commented on #79
Hm. I'm out of options to try on my end without more information.

- What is `BaseModel`? I just used `models.Model`. If they're different, try inheriting from that instead.
- Do other fields have problems? eg, does `AllLookupsFilter(name='title')` fail in your code?
- Is the code you're working on open source? Would I be able to run your tests?
- The list of lookups should resolve as ['regex', 's

[2016-04-02 23:33] snewcomer commented on #79
Yep that worked.  AllLookupsFilter fails in tests and prod.

One of the values from the `class_lookups(model_field)` is `unaccent` which is a subclass of the Transform lookup and produces the error.
https://github.com/philipn/django-rest-framework-filters/blob/master/rest_framework_filters/utils.py#L15

[2016-04-03 01:24] rpkilby commented on #79
That makes a lot more sense. The list from above is the set of default lookups registered to `CharField`s. It sounds like `unaccent` is being registered by a third party (I don't see it in Django's source). Can you get the class path of the transform? What module/app that defines it?

[Here](https://github.com/django/django/blob/1.9.5/django/db/models/lookups.py#L514-L554)'s an example of some tra

[2016-04-03 01:50] rpkilby commented on #79
Side note mostly to myself - the error handling [here](https://github.com/philipn/django-rest-framework-filters/blob/v0.8.0/rest_framework_filters/utils.py#L17-L20) could be improved. We could try to get the `output_field` ahead of time, then reraise the `FieldError` with a message that contains the offending transform's name. That said, Django should probably have a more informative message here.

[2016-04-03 03:07] snewcomer commented on #79
Ya!  Looks like this is the place where unaccent is registered with the CharField since I have `django.contrib.postgres` registered in my app.  Not sure what the sol'n here is...

https://github.com/django/django/blob/53ccffdb8c8e47a4d4304df453d8c79a9be295ab/django/contrib/postgres/apps.py#L16

[2016-04-04 00:33] rpkilby commented on #79
I think I figured it out. I forgot to wrap the model field in an Expression, which turns it into a proper lhs that can be passed to transforms/lookups. This isn't usually an issue, as most of the Transforms override the default `output_field`.

[2016-04-04 00:39] rpkilby commented on #79
You'll notice that in django-filter, I did wrap the lhs in an Expression, so the behavior should be correct. I'm working on fixing this right now, but in the short term my recommendation is to **not** use `AllLookupsFilter` for `CharField`/`TextField`s. Instead, use the explicit `Meta.fields` syntax from above.

[2016-04-04 04:31] #79 closed

[2016-04-04 04:32] rpkilby commented on #79
Alright, this should be fixed. Could you install the master branch and verify?

[2016-04-06 14:55] snewcomer commented on #79
@rpkilby yep that did it for me.  Thx!

[2016-04-06 19:01] rpkilby commented on #79
Great. I guess just use 885b3a5269cd8a402907cc391653a9085dbe08d0 until the next release. I'll try to remember to ping the thread when it is.

[2016-04-19 17:19] mjschultz opened #81 "__all__ doesn't work on second query"
It seems like this test case should pass:

[code]

But it fails on the second `get`. It looks like the generation of fields runs through and [deletes the Meta.fields](https://github.com/philipn/django-rest-framework-filters/blob/4feae01/rest_framework_filters/filterset.py#L112-L114) which is a reference to the underlying [`filter_fields`](https://github.com/tomchristie/django-rest-framework/blob/m

[2016-04-19 17:58] NotSqrt opened #82 "AllLookupsFilter does not work w/ FilterSet mixins"
Hi !

cf https://docs.djangoproject.com/en/1.9/topics/db/models/#abstract-base-classes

Is there an equivalent for FilterSets ?

When I do:
[code]
I get an error :
[code]

If I do ```class FilterMixin(object): ..```, the common filters are not detected.

I would really like not having to repeat the fields multiple times !

Thanks !

[2016-04-19 20:08] rpkilby commented on #82
Hi @NotSqrt

No, django-filter is a very similar abstraction to standard django forms and is in fact built on top of them. There are no abstract `Form`s, no abstract `FilterSet`s.

Could you provide a more complete stack trace? That's not enough information to go off of.

[2016-04-19 20:22] rpkilby commented on #81
Oh, good catch. This should work if you use a custom `filter_class` instead of `filter_fields`. I'll try to get around to fixing this over the weekend.

As to the problem, it shouldn't be deleting `Meta.fields`, it's deleting the field with the `'__all__'` lookups shortcut and placing an `AllLookupsFilter` directly on the FilterSet. The problem is that the `FilterSet` is regenerated on every call,

[2016-04-20 07:23] NotSqrt commented on #82
Here is a longer trace:
[code]

when my code looks like:

[code]

The exception is raised at import time, so ``runserver`` or anythong else fails immediately.

If I simply do:

[code]

the ``common_field`` filter is not usable.

Whereas for modelforms, it works perfectly to do:
[code]

[2016-04-20 07:25] NotSqrt commented on #82
In django's ``ModelFormMetaclass.__new__``, there's a ``if opts.model: # If a model is defined, extract form fields from it.`` code branch.

[2016-04-20 08:32] rpkilby commented on #82
Ah, that makes more sense. Checking for the presence of the model is the right thing to do here.

[2016-04-20 08:51] #82 closed

[2016-04-20 08:52] rpkilby commented on #82
Alright, this should be fixed on master - it was a straightforward change.

[2016-04-20 08:57] NotSqrt commented on #82
Great ! Thanks !

[2016-04-20 09:07] rpkilby opened #84 "AllLookupsFilter does not work on related fields"
In Django 1.9+, using `AllLookupsFilter` on a related field will use the incorrect set of lookups. It seems to use the lookups of the underlying AutoField instead of the lookups for the ForeignKey. For example, changing the test `NoteFilterWIthAll` FilterSet to:
[code]

Raises this error:
[code]

[2016-04-20 09:31] rpkilby opened #85 "Add RelatedAllFilter?"
A current limitation is that you cannot use `AllLookupsFilter` in conjunction with `RelatedFilter`. The following obviously does not work, as the declared filters will overwrite each other:
[code]

You cannot use the `'__all__'` shortcut for the dict-style syntax either, as it's just a shorthand for the declarative style above.
**edit:** the next release of django-filter will allow `'__all__'` to

[2016-04-20 19:07] #81 closed

[2016-04-20 19:08] rpkilby commented on #81
This should now be fixed on master. Thanks for providing a test case!

[2016-04-26 14:36] NotSqrt commented on #79
@rpkilby Just encountered this issue when creating my own ``Transform`` with 0.8.0.

The traceback was a little more helpful:
[code]
, because a ``Transform`` requires 2 arguments at ``__init__``, not 1.

No more problems when using the master.

When do you intend to release v0.8.1 ?

[2016-04-26 17:17] rpkilby commented on #79
There's one outstanding issue on the milestone, however Philip controls the actual release process.

[2016-04-30 00:28] rpkilby opened #87 "Use filters_for_model to reimplement '__all__'"
Given the following filterset,
[code]
There are a few problems:
- an `AllLookupsFilter` will be created that overwrites the existing `CharFilter` for `email`. Declared filters should have precedence over `Meta.fileds`.
- modifying `Meta.fields` was "The Wrong Thing To Do" apparently, even though it 'works'. If a user inspects the fields dict, it is confusing when the key is no longer present. We n

[2016-05-03 05:13] ericntd opened #88 "neither contains or icontains is working"
My `/api/articles/` returns 100 results.
Both `/api/articles/title__contains=Hot` and `/api/articles/title__icontains` return 100 results.
Negation is working.
Exact match is working.
My ViewSet is as follows:
[code]

[2016-05-03 11:04] rpkilby commented on #88
Hi @ericntd. There is both a list syntax and dict syntax for `Meta.fields`. The list syntax only creates filters for the `exact` lookup. You should be using the dict syntax instead.

Also, make sure to use the `rest_framework_filters.backends.DjangoFilterBackend` backend instead of the default backend.

[2016-05-03 11:04] #88 closed

[2016-05-11 04:36] threehundred opened #89 "Set minimum Django version in setup.py"
Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "/usr/local/lib/python2.7/site-packages/rest_framework_filters/__init__.py", line 3, in <module>
    from .filterset import FilterSet
  File "/usr/local/lib/python2.7/site-packages/rest_framework_filters/filterset.py", line 13, in <module>
    from django_filters import filterset
  File "/usr/local/lib/python2.7/site-p

[2016-05-11 04:38] threehundred commented on #89
Sorry went back through history - I see you've dropped support for 1.7, will close.

[2016-05-11 05:23] philipn commented on #89
Thanks @threehundred! We should probably restrict the Django version in our setup.py, so I'm re-opening this issue.

[2016-05-11 19:15] jackdbernier commented on #65
Great I'll give a try at the new version. Thanks.

[2016-05-11 19:27] rpkilby commented on #89
@philipn I'm kind of wondering what should be done here. A couple of thoughts:
- If we want to specify a minimum Django version, should we or should django-filter do this? ie, we're an extension of django-filter, which is an extension of Django. For all intents and purposes, we have the same compatibility guarantees as django-filter (also notice that the actual error in the trace was thrown from d

[2016-05-11 22:20] philipn commented on #89
Hmm.  You're totally right that few apps seem to list a Django dependency.  No strong opinion, but my 2c--

It seems like people should be pinning their version of Django in their project's requirements (and using something sweet like https://github.com/nvie/pip-tools, to boot!)  If they did, they'd never have problems like in the linked ticket(s).  In the linked ticket, @carljm says "[django] doe

[2016-05-17 04:51] ericntd opened #90 "Multiple exclusions not working"
neither `/myapi/articles/?tags__contains=Tag 1&tags__contains=Tag 2` nor `/myapi/articles/?tags__icontains=Tag 1&tags__icontains=Tag 2` works

`/myapi/articles/?tags__contains=Tag 1&tags__icontains=Tag 2` works however

[2016-05-25 03:13] rpkilby commented on #90
Hi @ericntd, we can't really help without more information from you. Could you provide a more complete reproduction? A code snippet is helpful, but forking the repo and writing a test that demonstrates the problem is even better.

[2016-05-25 04:31] rpkilby commented on #89
Thinking back,
- Adding Django as a dependency creates a problem for development environments, not deployments. eg, you would `pip install -U djangorestframework-filters` to test out the latest changes, and then accidentally update Django itself. Installing from a requirements file should complain about conflicts.
- drf-filters is more an extension of django-filter than it is an extension of Djang

[2016-06-05 21:56] rpkilby commented on #90
Hi @ericntd - I'm closing this for now as there isn't enough actionable information.

[2016-06-05 21:56] #90 closed

[2016-06-23 16:58] jsmedmar opened #91 "ManyToMany Filters Duplicated Query"
Hello,

Imagine this very simple example of Dogs that have Human enemies and Human friends:

[code]

When I hit the API the filter class performs a duplicated query `select all Humans` one time for the field `friends` another time for the field `enemies`.

I have two questions:

    1. is it possible to cache a duplicated query?
    2. Why does these queries happen even when I do not filter at all

[2016-06-24 16:10] rpkilby commented on #91
Hi @jsmedmar. I would need more information to provide a better answer, but my guess is that the browsable API renderer is rendering your filterset as a form. The form includes the friends/enemies m2m filters, which is getting its choices by querying the humans table.

1. There is no immediately obvious solution for caching duplicate queries in the filterset. It might be better to cache your queri

[2016-06-24 16:28] jsmedmar commented on #91
That is a great answer! I think that is actually the case :) Caching isnt needed because that duplicate comes from the filterset rendering. Thank you very much.

[2016-06-24 16:42] #91 closed

[2016-07-06 06:47] saeschdivara opened #92 "Problem with Django 1.9"
Hi

I have seen that your Django version is 1.8+ though with Django 1.9.7 I get the following error message:
rest_framework_filters/filterset.py", line 12, in <module>
    from django.utils.datastructures import SortedDict
ImportError: cannot import name 'SortedDict'

Can you please fix that?

[2016-07-06 07:08] rpkilby commented on #92
Hi @saeschdivara - it looks like you're using a very outdated version of drf-filters (0.2.2?) that is not compatible Django 1.9. Please update to a newer version.

[2016-07-06 07:08] #92 closed

[2016-07-06 10:25] saeschdivara commented on #92
Thanks @rpkilby. Though I think it would be better if the description on pypi.python.org would say more because to me it was confusing that there exist 2 entries with almost the same name.

[2016-07-06 13:38] rpkilby commented on #92
Could you explain what you mean in more detail?

[2016-07-08 21:58] jsmedmar opened #93 "Combining filters in query parameters (e.g. color=green&color=blue)"
Wondering why `django-rest-framework-filters` does not support using multiple values for the same field like `color=green&color=blue`. In that case, I'm only getting `blue` results instead of `blue` + `green`.

This functionality is supported in `django_filters`...

Is it possible to make my filters support this?

[2016-07-08 23:18] rpkilby commented on #93
Hi @jsmedmar! Could you provide a more complete example of your filterset and model? There isn't any reason for this to not work.

The multi-syntax is only supported by the `MultipleChoiceFilter` and `ModelMultipleChoiceFilter`. The former needs to be explicitly declared on the filterset, and the latter is generated for reverse foreign relations.

There is also a comma-separated value filter that

[2016-07-09 00:13] jsmedmar commented on #93
My bad for an incomplete example.

My fields are not MultipleChoiceFields, just regular fields with choices... Therefore I think the MultipleChoiceFilter might not work for me.

Wondering if the `color__in=blue,green` is usable right away or if I need to add a AllLookupsFilter? Does this work for reverse relationships?

Thank you very much for your quick response

[2016-07-09 00:58] rpkilby commented on #93
Just to clear up any misconceptions about the various filters and fields:
- `ChoiceFilter`/`MultipleChoiceFilter` work with regular model fields that have `choices`. The only difference is that the `multiple` version allows you to filter for multiple values using the `color=blue&color=green` syntax. The standard `ChoiceFilter` will chose only one value.
- `AllValuesFilter` works identically to `Ch

[2016-07-09 01:29] jsmedmar commented on #93
Hello @rpkilby Thank you very much!

I tried:

[code]

And the `color__in` syntax works as expected!

[2016-07-09 01:45] rpkilby commented on #93
Are you sure? The lhs (`color`) corresponds with the query name. If this were your only filter, nothing would happen.

[2016-07-10 20:33] #93 closed

[2016-07-11 14:14] jsmedmar commented on #84
I think this is the same issue I'm having:

[code]

When I do `authors__in=1,2,3` the filter returns all authors.

[2016-07-14 11:04] evenicoulddoit commented on #65
As a follow up to this here's one way of solving the problem:

[code]

Then you can use `bar=baz,zulu` as well as `bar!=baz,zulu` as expected.

[2016-07-14 15:25] rpkilby commented on #65
@evenicoulddoit - AllLookupsFilter *should* include `in` filtering. What version of drf-filters are you using?

[2016-07-15 07:26] evenicoulddoit commented on #65
@rpkilby `djangorestframework-filters==0.8.0`

[2016-07-15 14:51] evenicoulddoit opened #94 "Query: Abstract filterset"
I was wondering whether there's a way to apply a FilterSet to a non-generic API View and Django model - i.e. to just apply parsing of GET based filters?

e.g.

[code]

Where the filterset could just be used to parse the query params, but not be applied to a queryset?

[2016-07-15 16:40] rpkilby commented on #94
There wouldn't really be a point of doing this as you'd just be sidestepping the majority of code in django-filter. At this point, it would make more sense for you to just use regular django forms.

[2016-07-15 16:40] #94 closed

[2016-07-19 06:18] ranihorev opened #95 "Filtering by Generic Content Type name"
Hi,

I'm not sure this is the place to ask.
I have a model with GenericForeignKey (and the content type and content id needed for it).
I want to filter by the content type name and and by its type id.

For example, I have another model called Blog (that is content type id is 12).
I want to filter like this http://mysite.com/?content_type=blog

Is it possible?

Thanks!

[2016-07-19 07:01] ranihorev commented on #95
Found it. Sorry

[2016-07-19 07:01] #95 closed

[2016-07-19 09:13] evenicoulddoit commented on #94
Good point - I should just instantiate a bound form with `request.GET` and use the cleaned data.

[2016-07-21 19:01] jsmedmar commented on #88
does the icontains filter works for a related (ForeingKey) relationship? Wondering why it isnt working for me...

[2016-07-21 19:01] jsmedmar commented on #88
I'll add more details later today.

[2016-07-21 19:03] rpkilby commented on #88
icontains does not work on a foreign key value, although it will work across relationships on a foreign field.

icontains isn't a registered lookup for FKs:
https://github.com/django/django/blob/master/django/db/models/fields/related_lookups.py

[2016-07-21 19:10] jsmedmar commented on #88
I didn't get this part though:

[2016-07-21 19:23] rpkilby commented on #88
For example:
[code]

You could do `/books?author__username__icontains=bob`. You can traverse the author FK and do an icontains on a related field.

[2016-07-21 19:58] jsmedmar commented on #88
Is there a way to do a symlink to a field of a `RelatedFilter`? something like:

[code]

[2016-07-21 19:58] jsmedmar commented on #88
I just don't want the client to know that they are actually querying a related model, that is not relevant to them.

[2016-07-21 20:04] rpkilby commented on #88
I'm not sure if it will work, but you might be able to do...

[code]

[2016-07-21 20:18] jsmedmar commented on #88
Ok, it didn't work... I'll think more about it

[2016-07-21 21:01] jsmedmar commented on #88
I just realized that this [solution](https://github.com/philipn/django-rest-framework-filters/issues/88#issuecomment-234356829) does not work... You cannot traverse the author FK and do an icontains on a related field.

[2016-07-21 22:47] rpkilby commented on #88
You should be able to filter on related model fields. See [this](https://github.com/philipn/django-rest-framework-filters/blob/v0.8.0/tests/test_filterset.py#L178-L184) as an example - it's the same idea.

The name aliasing - not so sure about that. I'll try to look into it further.

[2016-07-22 17:39] jsmedmar commented on #88
I think there might be an issue with this [test case](https://github.com/philipn/django-rest-framework-filters/blob/v0.8.0/tests/test_filterset.py#L192-L196) though... If you do `contains=user` you will retrieve all your notes which are 4 (all 4 notes were written by `user1` and `user2`) and there is the catch. When I try to implement this same setting, if I use `contains`, I'm getting back the en

[2016-07-22 18:17] jsmedmar commented on #88
I just get empty querysets if I don't put the exact value, for example:

[code]

[2016-07-22 18:36] jsmedmar commented on #88
Ok I think I found the problem...

icontains does not work in fields that have choices (`analyte`) but it does work on fields without choices (`ext_id`):

[code]

Is this an expected behavior?

[2016-07-22 23:54] rpkilby commented on #88
Great catch! This [if statement](https://github.com/carltongibson/django-filter/blob/v0.13/django_filters/filterset.py#L490-L491) has been nagging me for a very long time but decided to just leave it be. The problem is that the value being filtered won't match any of the choices, so it won't validate and returns 0 results. I've submitted a PR (carltongibson/django-filter#447) to only create choice

[2016-07-27 21:00] jsmedmar commented on #88
@rpkilby hey! thank you very much, so I saw that django-filters merged your pull request. Thats great. I think I'll create a new "issue" for the field aliasing, I think that would be a nice feature for django-rest-framework-filters

[2016-07-27 21:54] jsmedmar opened #96 "Thoughts about supporting an AllLookupsFilter for a JSONField"
The [JSONField](https://docs.djangoproject.com/en/1.9/ref/contrib/postgres/fields/#querying-jsonfield) is now [supported](http://www.django-rest-framework.org/api-guide/fields/#jsonfield) by django restframework after version 3.3.3. I realized that when trying to use an `AllLookupsFilter` on such a field I get:

[code]

Would be interesting to hear insights from the authors regarding a filter for

[2016-07-27 21:57] jsmedmar commented on #96
BTW: I found this [discussion](https://github.com/carltongibson/django-filter/issues/426) in django-filter. Which @rpkilby is already involved in.

[2016-07-27 22:32] rpkilby commented on #96
Yep - some thought has already been put into this. The short version is that regular lookups (including the additional JSONField lookups) should be compatible with `AllLookupsFilter`. This is because those lookups are made available through the [lookup registration API](https://docs.djangoproject.com/en/1.9/ref/models/lookups/#registration-api). The additional lookups are registered [here](https:/

[2016-07-28 18:40] jsmedmar commented on #96
Hey @rpkilby I forked the project and pushed this [commit](https://github.com/jsmedmar/django-rest-framework-filters/commit/1348f8d1e2bee0bedff1572334602fa7f74f8cd8) replicating the `JSONField` error.

I changed the database configuration to use postgres with a database called `drff`. To see the error just do `python manage.py runserver` and go to `http://127.0.0.1:8000/notes/`.

[2016-07-29 18:57] jsmedmar commented on #84
Hello, wondering if there has been progress on this issue. I'd really like to do `manytomanyfield__in=1,2,3`

[2016-07-30 04:10] rpkilby commented on #96
Hi @jsmedmar - I figured it out. The problem is that `JSONField` is not a [field type](https://github.com/carltongibson/django-filter/blob/v0.13/django_filters/filterset.py#L176-L263) recognized by the automatic filter generation. `AllLookupsFilter` uses the same code paths internally, which is what's causing the error.

I've filed carltongibson/django-filter#450, which is related to this. Specifi

[2016-07-30 04:11] rpkilby commented on #96
Removing the milestone, since there isn't anything to fix inside of drf-filters for an 8.1 release

[2016-07-30 04:56] #84 closed

[2016-07-30 16:37] chozabu commented on #54
I'm hitting a point in my project where Think kind of functionality would be really handy

Writing quite a few filters like:

    admin_of_group = filters.MethodFilter()
    def filter_admin_of_group(self, oname, qs, value):
        name = 'group_memberships__group'
        name2 = 'group_memberships__role'
        if LOOKUP_SEP in oname:
            rel, _ = oname.rsplit(LOOKUP_SEP, 1)

[2016-07-30 17:13] rpkilby commented on #54
Is it necessary to do this all in one request? The problems you're running into only apply when filtering *across* relationships. If you remove the relationship from the query and use multiple requests, the issue is no longer relevant.

You could get your user ids through:
[code]

Let's say the above query returns memberships for users 1 and 2. You can filter your questions by doing:
[code]

The s

[2016-07-31 08:56] chozabu commented on #54
@rpkilby I am doing similar things in quite a few places, for something like group admin it is just kinda nice to not have to make the extra request, but there are many situations where it will not scale very well - tags being quite a good example

say I have 1million questions, the first 750k are tagged cheese, and the last 750k tomato.
Something like

    /api/tags?name__in=cheese,tomato&rated__

[2016-07-31 18:02] rpkilby opened #99 "Investigate using subqueries to filter across relationships"
As detailed [here](https://docs.djangoproject.com/en/1.9/topics/db/queries/#spanning-multi-valued-relationships), there are nuances to filtering across to-many relationships. In general, most users would want to find blogs with entries about lennon before 2008, not blogs that have entries about lennon and that have entries before 2008.

[code]

Notes:
- The combined statement syntax does not work

[2016-07-31 18:07] rpkilby commented on #54
See #99 - I'm thinking about a reimplementation based on subqueries, which should address the issue. As this thread points out, users are generally going to want to filter criteria together, not separately.

In the meantime, I'm not sure why you have 400k tags for two names. You should just have the two tags, right?

I'd argue that the extra request is *okay* if it's relatively small. eg, getting

[2016-07-31 18:22] rpkilby opened #100 "Using default queryset is insecure when filtering across relationships"
Filtering across relationships currently uses the default queryset. For example:

[code]

While you're not able to view unpublished posts of other authors, you are able to filter across the relationship and derive that an author may be preparing an article about some topic.

eg:
[code]

[2016-07-31 21:25] chozabu commented on #54
@rpkilby #99 looks interesting - the same direction for sure - though I'm not sure what your plan is for how this will look in a url?

As for the tags - sorry, I may have oversimplified my example a little, current setup is:

Table of Posts
Table of TagConnections
Table of Tags

each Post can have multiple TagConnections to relate it to a Tag
Users can vote on tags - and tags can be something like

[2016-08-01 03:20] rpkilby commented on #54
btw, it looks like I mistyped the subquery example in #99 - it's been corrected.

The idea is that this request:
[code]
would result in this query+subquery:
[code]
which would ideally return admin users for groups 6 and 7. See the first TODO in #99, as the above query may not actually work as intended.

Ah, yeah - the through model would present a problem as all of those results would be distinct.

[2016-08-01 13:00] chozabu commented on #54
@rpkilby Ah-ha, good correction - the subquery now makes more sense - though, I think perhaps it should be `filter` instead of exclude to get the same results?

I too mistyped my custom query syntax thoughts, using `:` instead if `,` - now corrected

And I see what you mean - combining the parts of the query by default - which to me is by no means ideal, but sure sounds like a better default than

[2016-08-02 02:31] rpkilby commented on #96
Hi @jsmedmar - I've submitted carltongibson/django-filter#451 which should raise a more informative error message in future releases.

I'm also going to close this, as I don't think there's anything to be accomplished in the scope of drf-filters. If anything, JSONField support would be added to the core django-filters library.

[2016-08-02 02:31] #96 closed

[2016-08-02 03:46] rpkilby commented on #26
Hey - I'm closing this in favor of #54 as a more comprehensive set-based syntax is currently being discussed there.

[2016-08-02 03:46] #26 closed

[2016-08-02 03:48] rpkilby commented on #89
@philipn - Are we agreed that django shouldn't be listed as a requirement? Closing this as it's an easy modification if you decide otherwise.

[2016-08-02 03:48] #89 closed

[2016-08-02 04:06] rpkilby commented on #54
Ach, copied it from the django docs, forgot to change the example to use filtering.

And to answer in reverse:

Something well tested and well specified - I'd definitely be interested. :)
@philipn may have other thoughts as it's potentially complex? At the very least, this should integrate well as another third-party package - the functionality should be able to be implemented purely in a FilterBa

[2016-08-04 13:09] chozabu commented on #54
@rpkilby That looks fantastic - perhaps harder to implement, and URLs have more chance of being a bit ugly, but very worth it for the extra features and safety

Few thoughts:

How does the performance of a large sub-query compare to doing it as a filterset? (hopefully very similar?)

are there situations where we would need sub-sub-querys?

    set1 = quote('posts__title__icontains=gmail&posts__pu

[2016-08-04 19:09] rpkilby commented on #54
The URLs are going to be ugly. I guarantee it.
Luckily, users won't see the URL because ajax.

No clue. It'd be worth coming up with some complex examples, then looking at the differences in the resulting SQL and query plans.

Yes. As far as I can tell, nested subqueries should work just fine. Related filters should handle this automatically, as they're processed recursively.

[2016-08-05 12:19] chozabu commented on #54
Just performed a very quick test to compare subquerys: https://gist.github.com/chozabu/e2f7e9e56f828feaaf390bd01627de1f

Looks like subquerys are _very slightly_ slower in my test.
only 2k items in query - could still do with performing a much more complex test

some info on the output attached in this post

        #some more relevant parts of the SQL
        print("--subsql--")
        #INNER JO

[2016-08-05 12:30] chozabu commented on #54
Funnily enough - looking at http://scottlobdell.me/2015/01/sql-database-best-practices-django-orm/ it is suggested that `list()` should be called on subquerys before being passed into the next query, but this seemed to have a negative performance impact in my little test:

[code]

[2016-08-05 22:46] sean-bennett112 commented on #65
Not sure if this should be in the same issue or a separate one, but I can confirm just running into this as well. Using `0.8.0`, it doesn't appear that `in` is included in `AllLookupsFilter`.

Rather, when I send up `?id__in=2,3,4,5,6`, for example, I weirdly only get returned the entity with id `6`.

I'm running into this in my test suite when using

[code]
[code]

[2016-08-05 23:22] sean-bennett112 commented on #65
Actually ignore that, this was an error on my part. Passing the list in as a string `2,3,4,5,6` fixes everything for me.

[2016-08-07 17:57] rpkilby commented on #54
Yeah, I would probably disregard the article as it comes from a complete lack of understanding. As you saw, evaluating the query w/ `list()` was a third slower than with a join/subquery (which the author strongly recommends against).

[2016-08-12 17:44] rpkilby commented on #100
This also leaks information in the rendered form, as the dropdown for the `ModelChoiceFilter` will contain the entire queryset. eg, a related product filter might display your entire customer list.

[2016-08-20 17:11] stevelacey opened #102 "Model field to filter detection inconsistent with other libs"
**tl;dr** I expect these two classes to yield the same result and they don't

[code]

[code]

I don't know if same applies to other fields, still playing – I suggest a good improvement would be to introspect the model classes like how admin/forms/drf serializers do – and apply sensible filter defaults.

[2016-08-20 17:21] stevelacey commented on #102
Scratch that I am not sure you even do anything with dates despite the note in the README?

I want non ISO filters – which I guess must exist in drf-filters now since I don't see you patching it anywhere(/anymore?) and it works with the former – it'd also be nice to have AllLookupsFilter functionality on dates e.g. `inspection_date__gte=2015-01-01`… which I assumed existed, but don't appear to be

[2016-08-20 17:57] stevelacey commented on #102
I realised I can manually specify each additional lookup myself using the `DateTimeFilter`. I wonder if there is value in providing more magic here, I as a consumer of this library expected `AllLookupsFilter` to magically yield a bunch of extra filter possibilities based on the data type I apply it to – I realise now that is not the case; and the library is a little less opinionated than that, whi

[2016-08-20 23:09] rpkilby commented on #102
In your first example, you manually declare a localized `DateTimeFilter`. When using the `Meta.fields` option, the FilterSet introspects the model field and chooses a suitable filter class. `IsoDateTimeFilter`s are preferred for datetime model fields, which is why you have a discrepancy.

Not sure what makes you think that this isn't what happens. django-filter/drf-filters performs the same field

[2016-08-20 23:44] rpkilby commented on #102
Forgot a few things:

What libraries and what's inconsistent? For the ISO datetime issue, DRF serializers use the [ISO format] (https://github.com/tomchristie/django-rest-framework/blob/master/rest_framework/settings.py#L103-L104) too.

----

In general, not sure if there's anything to do here? There seems to be two main problems from above:

**drf-filters should use localized datetimes instead of

[2016-08-20 23:44] #102 closed

[2016-08-21 10:16] stevelacey commented on #102
Thanks for the thorough write-up, you misinterpreted a couple of my points, but answered all my questions, just to revise:

- I wasn't suggesting switching `lte/gte` to `before/after` – based on my crude research I didn't think these existed via `AllLookupsFilter` – I now understand this is because I was using the wrong filter class
- I agree that ISO datetimes are awesome and should be everywhere

[2016-08-21 10:42] stevelacey opened #103 "Ability to filter AllLookupsFilter lookups"
I don't see this as something that can be done currently, wonder if it's worth adding.

Ability to filter the lookups added by `AllLookupsFilter` i.e. I want most, and I want them to follow "the convention" (`__gte` etc) but I don't want to define each, passing a list like `['eq','gte','lte']` would make sense to me?

- I want to limit what I support over my API to only useful actions – because I'

[2016-08-21 10:51] stevelacey commented on #103
I should RTFM https://github.com/carltongibson/django-filter#usage – though maybe this syntax should be duped here as I skipped learning how to use that library given yours is better.

[2016-08-21 10:51] #103 closed

[2016-08-22 16:13] rpkilby commented on #103
I typically recommend using the `Meta.fields` dict syntax over `AllLookupsFilter`.

Keep in mind that `AllLookupsFilter` only exposes filters for registered lookups on the model field. eg, it would not expose date/time lookups for a number field.

[2016-08-31 20:27] jsmedmar opened #104 "Do filters work with empty strings?"
I tried to do 'myfield!=&' and `""` values where not excluded. Is this expected?

[2016-08-31 21:32] rpkilby commented on #104
Yep. This is because HTML forms submit all inputs, regardless of their value. It's not possible to distinguish between an empty input and an input with a blank value.

My suggestion is to create a custom filter that is conceptually similar to the boolean filter used for [`isnull`](https://github.com/carltongibson/django-filter/blob/0.14.0/django_filters/filterset.py#L511-L516) lookups. Something l

[2016-09-04 02:00] rpkilby commented on #104
Also, you could probably create a custom lookup similar to [IsNull](https://github.com/django/django/blob/master/django/db/models/lookups.py#L463-L473), which would allow you to use the `Meta.fields` option. eg,

[code]

[2016-09-06 17:40] rpkilby opened #105 "v0.8.1 release"
Hi @philipn - could you review and release v0.8.1 to pypi?

Release notes (`changelog.rst` already up-to-date):
[code]

[2016-09-08 08:34] philipn commented on #105
Sweet, pushed!

[2016-09-08 08:34] #105 closed

[2016-09-08 16:12] rpkilby commented on #105
Thanks!

[2016-09-08 16:49] edmorley opened #106 "Failures in test_deprecations.py with django-filter 0.14"
The changes in #101 were passing when the PR was opened:
https://travis-ci.org/philipn/django-rest-framework-filters/builds/149494990

However failed once merged to master, under Python 3.4/3.5 only:
https://travis-ci.org/philipn/django-rest-framework-filters/builds/158502234

No other changes landed between the two, so it must be due to external unpinned dependencies changing.

Looking at the log

[2016-09-08 16:58] rpkilby commented on #106
Yep the 0.14.0 deprecations would explain it, although I'm confused about why this only affects the python 3.4 and 3.5 builds.

[2016-09-16 00:03] #106 closed

[2016-09-16 03:19] #87 closed

[2016-09-16 03:34] rpkilby commented on #104
Closing this, as it'd be a more appropriate addition to the core library.

[2016-09-16 03:34] #104 closed

[2016-09-16 04:02] rpkilby commented on #79
btw - v0.8.1 has been released.

[2016-09-16 04:09] rpkilby opened #109 "Deprecate MethodFilter in favor of Filter.method"
See carltongibson/django-filter#382 for more details.

[2016-09-16 04:16] rpkilby opened #110 "Cleanup deprecation warnings"
- [ ] Remove deprecated code paths
- [ ] Remove deprecation tests

[2016-09-21 01:43] #40 closed

[2016-09-21 01:55] #109 closed

[2016-09-21 04:49] rpkilby commented on #85
The solution adds a `lookups` argument to `RelatedFilter`. It expects a list of lookup expressions, identical to the values for the `Meta.fields` dict syntax.

[2016-09-24 11:35] vaibhav-jain opened #118 "Unable to filter by id"
I have to explicitly add the `id` field to the filter set otherwise it will not filter by `id` any reason or Am I doing something wrong ???

[code]

[2016-09-24 13:24] chozabu commented on #118
I'd noticed the same thing, not sure if it is a bug, or security feature though

[2016-09-24 18:02] rpkilby commented on #118
Yeah - that's a bug. The `AllLookupsFilter` isn't being overridden by the 'exact' filter. For the short term, you can just do:

[code]

[2016-09-24 19:02] rpkilby commented on #118
I've added a test, but it looks like this had already fixed on the master branch by 64b9c102899131eb0ffa150f99cb737e34467ad8. Could you checkout master and verify that this is indeed fixed?

[2016-09-24 20:25] rpkilby commented on #118
Pretty sure this has been fixed. Closing pending feedback.

[2016-09-24 20:25] #118 closed

[2016-09-24 20:26] rpkilby opened #120 "v0.9.0 release"
Hi @philipn - could you review and release v0.9.0 to pypi?

Release notes (`changelog.rst` already up-to-date):
[code]

[2016-09-24 20:44] rpkilby opened #121 "Deprecate AllLookupsFilter in favor of Meta.fields '__all__'"
Hi @philipn - wanted to get your opinion on deprecating `AllLookupsFilter` before a 1.0 release. We currently have two ways of exposing all lookups:
- `some_field = filters.AllLookupsFilter()`
- `Meta.fields = {'some_field': '__all__'}`

My thoughts on this:
- They are functionally identical for the end user
- This [entire section](https://github.com/philipn/django-rest-framework-filters/blob/v0.8

[2016-09-24 20:45] rpkilby commented on #120
@philipn - can we hold on this until your feedback on #121?

[2016-09-24 21:04] rpkilby commented on #85
@jsmedmar. I'm contemplating reverting #114 in addition to deprecating `AllLookupsFilter` (see #121). Going forward, the following would be the correct usage:
[code]
Any thoughts?

[2016-09-25 03:43] vaibhav-jain commented on #118
@rpkilby Even after upgrading to `0.8.1`  not working.

And
[code]

By this you meant I should explicitly specify all the model fields with required filters ??? Well I am stuck with
[code]

As I don't want to specify every Model field explicitly. . . .

[2016-09-25 04:32] chozabu commented on #118
@vaibhav-jain @rpkilby as far as I understand - this is indeed just about filtering by ID by default and saving a little typing & thinking

Currently I have ` id = drf_filters.AllLookupsFilter()` in most of my filters, but it should be dooable to inherit it like this?
[code]

[2016-09-25 06:51] vaibhav-jain commented on #118
@chozabu yes I know I have to do this.  I opened this issue to find out why 'id' isn't included by default.

[2016-09-25 17:54] rpkilby commented on #118
In short, explicit is preferred to implicit. If filtering by a model's PK is included by default, how would a user disable that if they wanted to?

Additionally, the difference in effort is minimal:
[code]

[2016-09-25 18:02] rpkilby commented on #121
Actually, there are a couple of reasons:
- You can use `AllLookupsFilter` w/o Meta.fields or when Meta.fields is using the list syntax
- You can use `AllLookupsFilter` as part of a mixin filter. Meta option don't work as well for this case. eg
[code]

[2016-09-25 18:18] #121 closed

[2016-09-25 18:26] rpkilby commented on #85
Same reasons as in #121 - it makes sense to leave this in.

[2016-09-25 18:26] #85 closed

[2016-09-25 20:47] rpkilby commented on #120
Hi @philipn. This should be ready to release now.

[2016-09-26 07:43] vaibhav-jain commented on #118
Yes @rpkilby I agree.  thanks guys for the help . . .

[2016-09-26 22:04] philipn commented on #120
Sweet, all pushed!

[2016-09-26 22:04] #120 closed

[2016-09-26 22:53] rpkilby commented on #120
Thanks!

[2016-09-26 22:55] #110 closed

[2016-09-28 21:12] aschriner opened #125 "DateFromToRangeFilter filters do not work unless filter name also in url params"
GIVEN:
a filter field

[code]

AND the url params `?created_0=2016-01-01&created_1=2016-02-01`

THEN:
no filtering occurs _unless_ you also include the filter name with any dummy value, like
`?created_0=2016-01-01&created_1=2016-02-01&created=dummy`

seems to be caused by the `get_filters()` method not taking the `foo_0` and `foo_1` into account
https://github.com/philipn/django-rest-framework-fil

[2016-09-29 04:16] rpkilby commented on #125
Good catch - never even thought of that. In general, that would indicate that drf-filters isn't compatible with `MultiWidget` or other widgets that modify query param names.

I can't think of a trivial way to work around this without just explicitly declaring two separate `created_min` and `created_max` filters.

[code]

This is functionally identical to the range filter. Range lookups are just a

[2016-09-29 19:51] jsmedmar commented on #121
The name aliasing feature is crucial... How could this be addressed using `Meta.fields`?

[2016-09-29 19:55] rpkilby commented on #121
Yep - I realized this after the fact. See my second comment above. Definitely keeping `AllLoookupsFilter`.

[2016-10-17 00:08] rpkilby commented on #125
As a note - this has also become relevant to some other backend's schema generation feature. In general, there isn't a trivially reliable way of introspecting widgets that parse different query parmas. The solution is to either:
1. Create separate filters as documented above.
2. Create a CSV filter that is derived from `BaseCSVFilter`/`BaseInFilter`/`BaseRangeFilter`.

I'll add a caveat to the doc

[2016-10-17 11:08] one4many opened #126 "Template rendering fails by default"
In backend.py you blindly do this: `template = loader.get_template(self.template)`
This fails per default with the current django_flilters package.
django_filters defines template as 'django_filters/rest_framework/form.html' (or 'django_filters/rest_framework/crispy_form.html' when crispy forms are installed) but does NOT ship the form.html file anywhere. Instead it has a fallback to a static form

[2016-10-17 12:19] rpkilby commented on #126
Hi @one4many - thanks for reporting. The backend code changed a little when migrating it from DRF to `django-filter.rest_framework`. I forgot to make the corresponding changes to the backend here.

For now, you should be able to safely set the `Backend.template` to `'rest_framework/filters/django_filter.html'` or the crispy-forms alternative. DRF still ships these templates and will continue to do

[2016-10-17 18:47] george-silva commented on #126
having the same issue here. Where is that this code should be changed? in backend.py?

I hate monkey-patching :-1:

[2016-10-17 19:06] rpkilby commented on #126
You don't have to monkey patch - you can always inherit and change the path.

[code]

[2016-10-19 08:01] JohnDoee opened #127 "Related names are broken when using AllLookupsFilter"
models.py
[code]

filters.py
[code]

Error when BFilter.name is in the code
[code]

There is no error BFilter.name is removed, i.e. BFilter.working_name does not have any problem with the related field.

pip freeze
[code]

It seems like django_filters uses `django_filters.utils.get_model_field` to solve this issue,

[2016-10-19 17:07] #127 closed

[2016-10-19 17:08] rpkilby commented on #127
This has been fixed on master.

[2016-10-19 17:44] #126 closed

[2016-10-19 17:45] rpkilby commented on #126
This should be fixed on master.

[2016-10-24 16:46] jsmedmar opened #130 "enhancement: Invalid Filter Error"
Morning gentlemen.

Wondering if there is a way to raise an error when the user tries to use an invalid filter?

Say:

`&color=red`

But color isn't a filter field. I feel this might be trivial, but I'm not seeing it :/

I was thinking as well that this might fail because of other query parameters such as `format`...

Perhaps, filter validation should happen on the clients end?

[2016-10-24 17:13] rpkilby commented on #130
Hi @jsmedmar. Yep - this isn't really possible since that would preclude using other features such as pagination. eg,

[code]

[2016-10-24 18:06] jsmedmar commented on #130
Yeah, totally agree. I think I'll just have an API endpoint serving valid filters for a given model and then use that for validation on the client side.

Let's close this issue.

[2016-10-25 16:01] #130 closed

[2016-10-28 17:48] Detonavomek opened #131 "Performance"
Hi

I have performance issue.

Model have 20 fields and 4 relation for other models with 5 fields. There are near 100 objects.

Without filters API loads 0.4s.
With django_filters by all fields and relations - 0.6s.
With django-rest-framework-filters by all fields(each field has '**all**' lookup) - 7.2s.

In each case I tried to get list of objects without filtering.

Did you test the speed of fil

[2016-10-29 15:28] rpkilby commented on #131
Hi @Detonavomek. A couple of thoughts:
- Is this the initial load or when actually filtering?
- Are you using the backend provided by this package (`rest_framework_filters.backends. DjangoFilterBackend`)? It caches filtersets, which significantly increases performance.
  - Does a subsequent load/filter run more quickly?

In general, I highly recommend **not** using `AllLookupsFilter`. It's useful

[2016-10-31 13:41] Detonavomek commented on #131
@rpkilby , thank you for detailed response!

It is time to load each request(not only first). Looks like filterset doesn't cached.
Yes, I use 'rest_framework_filters.backends. DjangoFilterBackend' as a base class.

[2016-10-31 17:37] rpkilby commented on #131
Hm. I'll have to look into it. The caching should make duplicate requests significantly less expensive. Either way, the fundamental problem is the large number of filters.

[2016-11-01 18:52] Detonavomek opened #132 "Inheriting FilterSet with Metaclass"
Hi development team,

I find one small error here.
We cannot inherit FilterSet with metaclass.
Inside "filtersets::FilterSet::get_subset" method we used hardcoded "FilterSetMetaclass" metaclass.
When we try to inherit FilterSet and use some metaclass based on FilterSetMetaclass we will get the next error

TypeError: metaclass conflict: the metaclass of a derived class must be a (non-strict) subcla

[2016-11-01 18:56] Detonavomek commented on #132
#133

[2016-11-02 17:43] tinivir opened #134 "Problem with nested filter"
Hi!

I downloaded last version of this library, django-filters, and django rest framework.

When I try to use nested serializing from manual I have next error:

KeyError: 'subtype__subtype'

[code]

url: ?subtype__subtype=value

[2016-11-02 19:49] rpkilby commented on #134
Hi @tinivir - there isn't much we can do without more information. It would be helpful to see the models or the traceback generated from the API call.

Off the cuff, the model doesn't make sense. Does your `Subtype` model have a `subtype` field?

[2016-11-06 17:50] moniq opened #135 "templates"
Where can I find template django_filters/rest_framework/crispy_form.html ?

After adding REST backend  'rest_framework_filters.backends.DjangoFilterBackend', I have error:

Django Version: 	1.8.13
Exception Type: 	TemplateDoesNotExist
Exception Value:
django_filters/rest_framework/crispy_form.html

Where could I find this missing template? Could you give me some hint?

Packages:
Django==1.8.13
dja

[2016-11-06 20:56] rpkilby commented on #135
Hi @moniq, sorry for the release bug. This has already been fixed on master - see #126 for context.

[2016-11-06 20:56] #135 closed

[2016-11-07 20:24] rpkilby opened #136 "Add widgets and labels options a la model forms"
Reference https://github.com/carltongibson/django-filter/pull/552 by @cw0102

I'm currently -0 on this feature as this could be incredibly verbose with the dict syntax for `Meta.fields`.

[2016-11-10 20:14] joshcrim commented on #134
I am having the same issue using the most recent versions of django-filters, rest-framework-filters, and rest-framework. Here's my traceback:

api/tests/test_filters.py:287: in test_eq
    % (self.project.name))
../local/lib/python2.7/site-packages/rest_framework/test.py:282: in get
    response = super(APIClient, self).get(path, data=data, **extra)
../local/lib/python2.7/site-packages/rest_framew

[2016-11-10 20:19] rpkilby commented on #134
Hi @joshcrim - could you provide example models/filters/views?

[2016-11-10 20:29] rpkilby commented on #134
I've also reran the test suite on travis, and no errors are reporting.

[2016-11-10 20:32] joshcrim commented on #134
models.py
[code]

filters.py
[code]

viewsets.py
[code]

[2016-11-10 20:38] joshcrim commented on #134
Dunno if the issues are related, but I was am getting unexpected results from some of the filters too. None of the filters were working at all when the settings file set the backend, but some work correctly now that I've placed `filter_backends` in the viewset, others still do not.

`name__exact` returns all projects and doesnt filter anything
`name__iexact` filters as expected, case insensitive
`

[2016-11-10 20:47] rpkilby commented on #134
Thanks for the update. If you have the time, some sample data would be incredibly helpful. Otherwise, I'll try to work on a test case that demonstrates the issue.

Not sure what's going on there, but that would be an issue w/ DRF itself. Make sure that you've passed the full module path.

[2016-11-10 20:54] joshcrim commented on #134
Gotcha, will do.

Sample data?

[2016-11-10 20:59] rpkilby commented on #134
I mean example project names and the querystring you were using to filter.

eg, "Project A", "Project B"

[code]

[2016-11-10 21:01] rpkilby commented on #134
Oh - just noticed something: You're using `name__exact` when you should be filtering by just `name`.

[2016-11-10 21:03] joshcrim commented on #134
Right, not using `name__exact` anymore for that reason ^_^;

[2016-11-10 21:14] joshcrim commented on #134
As for data...the production query that set off an alert was this:

[code]

I wrote my own test cases to reproduce the issue and narrowed it down to `?project__name` being where it breaks. `?project__iexact`, `?description__iexact`, and `?description__iexact='x'&project__iexact='x'` all work fine (using the projects id/tasks description in the query, of course). Throwing project__name in there is

[2016-11-10 21:40] joshcrim commented on #134
Here is another traceback from sentry.io that may be helpful. It is much longer and has a bit more detail:

http://pastebin.com/7ETvETET

[2016-11-10 22:20] rpkilby commented on #134
Many thanks for all of the information. I will take a look at this later.

[2016-11-11 01:51] joshcrim commented on #134
Quick update:
We downgrade our packages and everything is again working correctly:

[code]

[2016-11-11 03:27] rpkilby commented on #134
Hm. I'd try downgrading packages individually and see what happens. Currently working on a test case

[2016-11-11 03:51] rpkilby commented on #134
Hey @joshcrim - I've added a PR with the provided material. Can you review it? I'm still not able to recreate the issue.

[2016-11-11 05:26] joshcrim commented on #134
Definitely, I'll try downgrading each package individually to see what breaks it and check the PR first thing in the morning.

[2016-11-11 15:38] joshcrim commented on #134
We were initially on django-rest-framework 3.5.2 when we ran into this error, but have since downgraded back to 3.4.7. Getting the same results on both, so it doesnt look like drf version is an issue.

`django-rest-framework version 3.4.7`
[code]
[code]
[code]

[code]
[code]
[code]
[code]

[2016-11-11 15:51] joshcrim commented on #134
Ah, I forgot to send you my serializers. they are a little different. Everything else matches what I have

serializers.py
[code]

[2016-11-11 17:49] rpkilby commented on #134
Thanks for doing that. Those results make sense. django-filter 0.14 is compatible with drf-filters 0.8, and django-filter 0.15 is compatible with drf-filters 0.9

`0.14`/`0.8` is working, `0.15`/`0.9` is not.

[2016-11-11 17:57] rpkilby commented on #134
A couple of ideas:
- Could you run your tests against django-filter 0.15.3 and the current master branch of this repo?
- Could you take a look at #137, see what differs?
- Try using the dict syntax with your filterset. eg,

[code]

[2016-11-11 18:26] joshcrim commented on #134
The only difference in #137  is the serializer fields: I am not using 'id' in either one. I do also use 'url' for both field tuples, but I dont think that makes a difference here.

Will try my tests against django-filter 0.15.3 and the current master branch later today. I believe I tried the dict syntax for fields already, but I'll gave it another go just to be sure.

[2016-11-12 01:40] rpkilby commented on #131
Hi @Detonavomek - I've added some rudimentary performance tests in #138.

[2016-11-12 02:29] rpkilby commented on #134
Yeah, that's not going to make a difference here. The serializer won't affect the filtering process.

#127 was fixed on master, although it's a separate issue. That said, it's possible something has changed that fixed whatever you're running into.

There have been issues in the past where the dict syntax and the explicit `AllLookupsFilter` executed slightly different code paths.

[2016-11-13 01:12] rpkilby commented on #99
`filter()` queries:

             | join statements | nested join | nested subquery
------------ | --------------- | ----------- | ---------------
chained      | q1              | q3          | q5
combined     | q2              | q4          | q6

[code]

q1
[code]

q2
[code]

q3 & q4
[code]

q5 & q6
[code]

[2016-11-16 02:30] rpkilby opened #142 "v0.9.1 release"
Hi @philipn - I'm currently churning on changes for a 1.0 release (to coincide with django-filter). In the mean time, there are a couple of fixes that should probably be pushed out as v0.9.1

I had to create a separate 0.9.x branch (see #141) since there were some forwards incompatible changes already merged on master. Could you check out the 0.9.x branch and push things up to pypi? Thanks as alwa

[2016-11-16 03:11] rpkilby commented on #54
@chozabu - btw, still churning on related work. Some interesting results.

Anyway, as a quick note on subqueries the two below are actually a bit different:

[code]

Both use a subquery, but q1 relies on a join while q2 is just a subquery. I'd be curious to see if there's any performance difference there.

[2016-11-17 15:40] yardensachs opened #143 "django-filter made it to 1.0 and it's not backward compatible"
So 'django-filter>=0.15.0', on the setup.py is bad

[2016-11-17 16:06] AmineYaiche commented on #143
I had the same issue.

[2016-11-17 17:25] rpkilby commented on #143
Yep - a 1.0 compatible version has been in the works.

[2016-11-17 18:35] #143 closed

[2016-11-17 18:36] rpkilby commented on #143
Note that this has been fixed on master, but it might take some time for a new release to be made.

[2016-11-17 18:37] rpkilby commented on #134
Hi @joshcrim - did you have a chance to debug this any further? Thanks for the work you've put into this already.

[2016-11-17 18:52] #132 closed

[2016-11-17 22:15] #125 closed

[2016-11-18 22:04] cancan101 commented on #142
any updates on this release?

[2016-11-19 21:48] philipn commented on #142
Sweet! All pushed and released /cc @cancan101

[2016-11-19 21:48] #142 closed

[2016-12-20 14:10] AndrewPashkin opened #149 "Request based filtering?"
http://django-filter.readthedocs.io/en/develop/guide/usage.html?highlight=request#request-based-filtering

It seems like this feature is not supported. I thing it's a good idea to introduce it.

[2016-12-20 19:04] rpkilby commented on #149
Fixing this should be fairly straightforward:
- The backend needs to initialize the filterset with the request
- The related filtersets need to be initialized with the parent's filterset
- Tests should demonstrate failure for the main filterset and related filtersets

I'm currently in the process of refactoring some of the internals - this will be included as part of that.

[2016-12-27 01:30] edmorley opened #150 "Add Travis testing for django-rest-framework 3.5"
Currently only 3.3 and 3.4 are tested.

I'll open a PR for this shortly :-)

[2016-12-27 02:07] edmorley opened #151 "v0.9.1 changelog entry missing from master"
Compare:
https://github.com/philipn/django-rest-framework-filters/blob/0.9.x/CHANGELOG.rst
https://github.com/philipn/django-rest-framework-filters/blob/master/CHANGELOG.rst

I'll open a PR shortly :-)

[2016-12-27 03:27] edmorley commented on #150
Whoops I must have been on the older branch without realising (due to looking at the newer changelog on 0.9.x). d-r-f 3.5 is tested on master.

[2016-12-27 03:27] #150 closed

[2016-12-27 03:52] edmorley opened #153 "Travis failures with django-filter 1.0.1"
The last Travis run on master was green:
https://travis-ci.org/philipn/django-rest-framework-filters/jobs/176898665

However a newer run on a PR that only updates changelog.rst is now failing on Python 2.7/3.4 (but not 3.5):
https://travis-ci.org/philipn/django-rest-framework-filters/jobs/186893153

One difference between the runs appears to be that the latter is using django-filter 1.0.1 vs 1.0.0

[2016-12-27 19:29] rpkilby commented on #153
That commit seems to be it - `rest_framework` isn't resolving. Relevant portion of the stack trace:

[code]

[2016-12-27 21:25] #151 closed

[2016-12-27 21:49] rpkilby commented on #153
For now, #154 fixes this by simply adding `django_filters` to `INSTALLED_APPS`.

The test failures are a caused by circular *relative* imports, which are not supported in python 3.4 and below ([py35 changelog](https://docs.python.org/3/whatsnew/3.5.html#other-language-changes)). I've tried creating a test case for django-filter that demonstrates the issue, but haven't been able to so.

I think the

[2016-12-27 21:49] #153 closed

[2016-12-31 03:40] bashu opened #155 "TypeError: get_filters() missing 1 required positional argument: 'self'"
[code]

[2016-12-31 03:40] bashu commented on #155
[code]

[2016-12-31 03:42] #155 closed

[2017-01-02 11:33] KiranPrajapati345 opened #156 "give me error when I use "MongoModelViewSet using rest-framework-mongoengine"
Here is my code

[code]

this is code:
and I got the error :
AttributeError: 'MetaDict' object has no attribute 'get_field'

So, how can I filter my multiple fields value?
How can I get then if someone want data for  http://tool/?district=Pune,Nasik    using rest-framework-filters I have data stored in mongodb.

Edited for formatting (@rpkilby)

[2017-01-02 19:40] rpkilby commented on #156
Hi @KiranPrajapati345. Do you have a more complete stack trace? There isn't too much that can be done to help you without it.

Keep in mind that `django-filter` and `django-rest-framework-filters` are designed to work with the Django ORM. It looks like `mongoengine` uses the same queryset API as the Django ORM, so there might be a minimal amount of compatibility, however this compatibility is neit

[2017-01-03 06:16] KiranPrajapati345 commented on #156
Hi @rpkilby ,Here is my code

1)models.py file

from django.db import models
from mongoengine import Document, fields

class Tool(Document):
    id = fields.StringField(required=True)
    year = fields.IntField(required=True)
    crop = fields.StringField(required=True)
    district = fields.StringField(required=True)
    taluka = fields.StringField(required=True)
    circle = fields.StringField(r

[2017-01-03 06:24] KiranPrajapati345 commented on #156
And same code for views.py file I use for another project (without mongoengine) then it's working
for example:  suppose someone search fruit=Guava,Banana,Pomegranate
then data will shows only this 3 fruits output ..

here is my views.py file for another project (without using mongoengine)

import django_filters
import django_filters.rest_framework
from rest_framework.viewsets import ModelViewSet
f

[2017-01-03 16:59] rpkilby commented on #156
1. Did you delete the entire `Meta` class or did you just remove the fields option
2. Could you post the *full* stack trace?

[2017-01-03 17:26] KiranPrajapati345 commented on #156
Hi, I solved this issue, I use dynamic query for my project.
Queryset(self,arg,kwargs).

Its working now
Thanks

On Jan 3, 2017 10:29 PM, "Ryan P Kilby" <notifications@github.com> wrote:

And when I remove fields options in ToolFilterSet.Meta class. then
when I run http://127.0.0.1/8000 it's gives another error
"type object 'ToolFilterSet' has no attribute 'Meta' "

   1. Did you delete the entire

[2017-01-03 18:54] #156 closed

[2017-01-12 20:35] Jaredn opened #159 "README DRF versions are outdated (3.3, 3.4 => 3.4, 3.5)"
Just wondering if this is DRF 3.5.x compatible.  Documentation says 3.3 and 3.4.

Thanks!

[2017-01-12 21:58] rpkilby commented on #159
Yep: https://github.com/philipn/django-rest-framework-filters/blob/master/.travis.yml#L13

[2017-01-19 17:56] Jaredn commented on #159
Quick Question for you... Say I have a simple model that looks like this:

Room   ---->    Building    ---->    Site

May rooms in a building, many buildings in a site.

I want the following api call to work:
/api/rooms/?buiding__site__name__startswith=blah

In english:  Give me all of the rooms that are contained within sites that
have names starting with ^blah.

How do I properly build the filte

[2017-01-19 20:26] rpkilby commented on #159
You should be able to accomplish that with:

[code]

[2017-01-19 21:19] Jaredn commented on #159
Thanks for the response on this thread @rpkilby!   I could have sworn that's what I tried, but I'll give it a shot as soon as I can (troubleshooting a different DRF issue now though).

[2017-01-27 22:32] nareshku opened #160 "can't import viewsets"
Somehow I couldn't import viewsets anymore.

[code]

[code]

[2017-01-28 00:41] rpkilby commented on #160
This seems like a duplicate of #155. Let me know if that's not the case.

[2017-01-28 00:41] #160 closed

[2017-01-29 22:13] #159 closed

[2017-01-30 19:13] nareshku commented on #160
I think this issue is different. Here are the installed pip packages.

django-filter (0.13.0)
djangorestframework (3.3.3)
djangorestframework-filters (0.8.0)

[2017-01-31 07:51] rpkilby commented on #160
I would double check your path.

[code]
The above only exists in django-filter 1.0

[2017-01-31 23:22] georgerb opened #162 "many-to-many filter relationship example"
Hi,

Is there an example on how to create a filterset for a many-to-many related model?

Thanks,
George

[2017-02-01 11:08] rpkilby commented on #162
It should be similar to how you setup a to-one relationship. Do you have any specific questions?

[2017-02-02 16:24] rpkilby commented on #162
Closing since there isn't anything actionable.

[2017-02-02 16:24] #162 closed

[2017-02-21 01:00] edmorley opened #163 "Release a version with Django 1.11 support"
Hi!

Django 1.11 beta 1 has just been released:
https://www.djangoproject.com/weblog/2017/feb/20/django-111-beta-1-released/

It would be great if the recent Django 1.11 compatibility fixes on master (eg supporting django-filter >1.0) could be released so we could start testing with Django 1.11 on our projects without needing to install from master.

Many thanks :-)

[2017-02-21 15:09] rpkilby commented on #163
Thanks - currently waiting for the 1.2 release of django-filter

[2017-03-13 20:55] weasteam opened #164 "Key error when using Negation/Exclusion"
`?id!=1` and I got Key error

[code]

I set it up according to https://github.com/philipn/django-rest-framework-filters, did I miss something?

[2017-03-14 21:49] rpkilby commented on #164
This is difficult to debug without a more complete example. Could you provide the code for your `FilterSet`?

[2017-03-14 23:58] weasteam commented on #164
import rest_framework_filters as filters
[code]

[2017-03-15 22:33] rpkilby commented on #164
`model` and `fields` should be located under the `Meta` options class.

[code]

Let me know if you have further issues.

[2017-03-16 20:06] weasteam commented on #164
Sorry,

There was a typo, the `model` and `fields` are actually under the `Meta`.

[2017-03-16 20:57] rpkilby commented on #164
Hi @weasteam - this is difficult to debug without more information. Do you have a stack trace for the error?

I did a quick test, and the exclusion seems to work as expected. Below, `data={'id!': '1'}` should be equivalent to a `?id!=1` querystring.

[code]

[2017-03-16 23:07] weasteam commented on #164
**One reason could be python 3.5.2**

Here are the error details:

[code]

---
/Users/myname/anaconda/lib/python3.5/site-packages/rest_framework_filters/backends.py in filter_queryset
            return filter_class(request.query_params, queryset=queryset).qs ...
▼ Local vars
Variable	Value
filter_class
<class 'rest_framework_filters.filterset.FilterSet.get_subset.<locals>.FilterSubset'>
queryset

[2017-03-18 21:15] rpkilby commented on #164
Reopening this since there aren't any tests covering form/view usage.

Also, what versions of django, djangorestframework, django-filter, and djangorestframework-filters are you using?

[2017-03-20 16:43] weasteam commented on #164
Django==1.10.5
django-crispy-forms==1.6.1
django-filter==0.15.3
djangorestframework==3.5.3
djangorestframework-csv==2.0.0
djangorestframework-filters==0.9.1

Python 3.5.2

[2017-04-04 15:26] #149 closed

[2017-04-05 02:02] mjschultz commented on #163
Looks like [django-filter==1.0.2](https://pypi.python.org/pypi/django-filter/1.0.2) is out as is [django==1.11](https://pypi.python.org/pypi/Django/1.11)!

[2017-04-05 07:51] hedleyroos opened #165 "Fix the formatting on PyPI"
Not really an issue but it will make the product appear more professional on PyPI. Do `setup.py check --restructuredtext -s` to ensure the readme is in PyPI format.

[2017-04-05 08:04] rpkilby commented on #165
My guess is that it's the addition of the `.. code-block:: http` blocks.

[2017-04-05 08:39] rpkilby commented on #165
The markup is technically valid - it's probably due to pygments not supporting http.

[2017-04-18 21:58] edmorley commented on #155
For anyone landing here after searching for the same error, this is fixed on master by #144, however not yet released (ie: django-rest-framework-filters 0.9.1 is not compatible with django-filters >= 1.0).

[2017-04-18 22:01] edmorley commented on #163
Does the django-filter requirement in setup.py need incrementing from 1.0.0 to 1.0.2, or are the 1.0.0->1.0.2 changes just a nicety (ignoring Django 1.11 support) and not technically required for the next d-r-f-filters release for say Django 1.10?
https://github.com/philipn/django-rest-framework-filters/blob/b5ccd8a41ce5ba155afe5ca8e04ff79f5286bb0b/setup.py#L46

[2017-04-19 00:49] rpkilby commented on #163
There should be no API surface changes that drf-filters would care about. I don't believe there is a benefit to specifying. That said, it wouldn't hurt either.

In regards to creating a new release, the current state of drf-filters is that it is django-filter 1.x and django 1.11 compatible, and all of our internal deprecations have been removed. We could probably cut a 0.10.0 release in it's curre

[2017-04-19 17:47] rpkilby commented on #165
It turns out that both pygments and linguist have `http` lexers, but they're intended for request messages, not just the URIs.

Pygments is also a little more strict in that you'd need to use a correct request-line.

[code]

With linguist, you can get by with the below, which is technically invalid.

[code]

[2017-04-19 17:56] rpkilby commented on #125
By the way, https://github.com/carltongibson/django-filter/pull/681 would make partial compatibility a possibility.

[2017-04-20 19:00] rpkilby opened #167 "v0.10.0 release"
Hi @philipn - I'm still working on changes for a 1.0 release, but a django-filter 1.0 compatible release is long overdue. v0.10.0 should tide us over until then.

If you'd like to review all of the various changes, there's the [v0.10.0 milestone](https://github.com/philipn/django-rest-framework-filters/milestone/4?closed=1). As always, thanks.

Release notes (`changelog.rst` already up-to-date):

[2017-04-20 19:00] rpkilby commented on #163
See #167

[2017-04-20 19:00] #163 closed

[2017-04-20 23:23] mlissner commented on #131
@Detonavomek Could it be that you were testing using the browsable API? I discovered that with filters enabled, the browsable API makes one query per related *object*. So say you have books with authors, and you have 10,000 authors. That will require 10k look ups when you load the book endpoint in the browsable API. Outside of the browsable API, this isn't the case. I'll file a separate bug if thi

[2017-04-21 23:04] mlissner opened #168 "Filtering across relations throws keyerror in latest package"
(This might be a dup of #134, but I'm starting fresh so we have a cleaner bug.)

In https://github.com/freelawproject/courtlistener/issues/665 I'm in the process of upgrading from

    djangorestframework-filters==0.6.0

To:

    djangorestframework-filters==0.9.1

I'm also upgrading DRF and all of it's requirements at the same time. When I completed the upgrade using pip, several of my unit tests

[2017-04-22 19:05] rpkilby commented on #168
Hi @mlissner - I'll take a look at the freelaw project later. In the mean time, could you try upgrading to django-filter 1.x and the master branch of drf-filters? I'm curious if this problem hasn't already been resolved.

[2017-04-24 02:49] rpkilby opened #169 "RelatedFilter queryset assertion could be more informative"
The current error message is

Including the parent filterset's class name and filter name would improve debugging.

[2017-04-24 03:00] #169 closed

[2017-04-24 04:29] rpkilby commented on #168
Hey. I've been doing a little poking around, and it looks like this may be an interaction with `crispy_forms`. See https://github.com/carltongibson/django-filter/pull/696. In short, the crispy helper code is causing a premature cache of the form object, which will not contain the related filters.

[2017-04-24 14:53] rpkilby commented on #168
I did a little more poking around in courtlistener and saw that you only use `crispy_forms` for DRF's browsable API. The easiest path forward is to temporarily remove `'crispy_forms'` from your `INSTALLED_APPS` until https://github.com/carltongibson/django-filter/pull/696 is merged/released. Let me know if that fixes the problem.

[2017-04-24 15:18] rpkilby commented on #134
Hi all, the issue seems to be an interaction with some crispy forms helper code in the DRF-compatible FilterSet. If you don't use crispy forms outside of DRF's browsable API, then the easiest short term fix would be to simply remove `'crispy_forms'` from your `INSTALLED_APPS`. If you do use crispy forms, then you could delete the offending constructor:

[code]

The longer term fix should be https:

[2017-04-24 17:18] mlissner commented on #168
I uninstalled crispy-forms and all tests are passing. Wow, thank you for resolving this so quickly. Never thought that a simple template helper would bring things down so horribly! Would have taken me a long time to figure this one out.

It looks like you're resolving this in carltongibson/django-filter#696. Any other reason to keep this bug open?

Thank you again!

[2017-04-24 17:21] rpkilby commented on #168
It's technically not the fault of crispy forms, just a little bit of helper code that hasn't ever been tested. Once 696 is merged, it should be safe to use crispy forms again.

Nope :)

[2017-04-24 17:21] #168 closed

[2017-04-24 19:10] philipn commented on #167
Sweet stuff! I've pushed an update to PyPI (and also started using signed tags for releases).

I'm guessing this is because of #165, but I don't see the `README.rst` appearing on PyPI.

[2017-04-24 19:10] #167 closed

[2017-04-24 21:08] rpkilby commented on #167
Many thanks

Bleh - that was not the intent. I thought the `http` code blocks were causing the formatting to fail (and just render as plaintext), so I remove the language type and left them as bare code blocks. That seems to have just made it worse :/

[2017-04-25 15:07] feuloren opened #171 "Deecopy error when using exclusion"
Hi,

I just upgraded to rest-framework-filters 0.10 (+ rest-framework 3.6 and django-filter 1.0), and can't use the exclusion feature anymore, because of a deepcopy error.

Here is my filter set:
[code]

Here is the full trackeback (ran as part of unit tests), the query paramters were "kind!=toBeIgnored"
[code]

With a real HTTP request I get a similar error, but on a different object:
```TypeErro

[2017-04-25 16:55] rpkilby commented on #171
That makes perfect sense. Thanks for the report.

[2017-04-25 19:27] rpkilby commented on #171
HI @feuloren - try installing https://github.com/rpkilby/django-rest-framework-filters/tree/exclude-request-interaction. That should solve the issue.

[2017-04-26 07:59] feuloren commented on #171
Your fix does solve the issue. Thanks.

[2017-05-12 08:05] danilke opened #173 "Filter by count of children."
Hello! Is possible to filter by count of children?

 For example: Order has many OrderItems, I want to filter orders with orders count 4? Or I have to save order_items_count attribute to Order model? And how I order by count?

Thanks a lot!

[2017-05-12 13:15] danilke opened #174 "Order by name of parent."
Hello. If is posible somehow to order objects by name of parents, using django-rest-framework-filters ?  Thanks.

[2017-05-12 14:14] #174 closed

[2017-05-12 18:20] rpkilby commented on #173
Sure. You should use a `NumberFilter` with the [`method`](https://github.com/philipn/django-rest-framework-filters#supporting-filtermethod) argument. Using a method/callable, you can do whatever you want with the filterset. Filtering by count is going to require using an aggregation function, but at that point, the question is ORM related and not specific to django-filter

[2017-05-12 18:20] #173 closed

[2017-05-18 22:54] darkpixel opened #175 "DRY: Allowing __all__ lookups on all fields, fields already defined in serializer"
In my serializer, I already have:
[code]

I would like to allow all lookups on those fields.  In order to do this, I have to define a FilterSet:
[code]
Am I missing something?  Is there a way to apply a filterset without re-defining the model and explicitly setting the fields to __all__?

[2017-05-22 17:04] rpkilby commented on #175
Not really. FilterSets are derived from models, not serializers. You could create a helper function that creates the filterset fields from the serializer fields, but I don't know if it's worth it.

[code]

Additionally, I'd like to reiterate the admonition in the docs against using `'__all__'`. I'm not incredibly inclined to make usage more easy/automatic.

[2017-05-22 17:04] #175 closed

[2017-05-25 10:10] Dragonwarrior47 commented on #93
how can a define all lookup filter on reverse relation.
I have a model A, and model B
Model B has foreign key to A.

Now I want to have a all lookup filter using in Filter A and want to look for the field which has a foreign key to A in B

[2017-05-25 16:46] rpkilby commented on #93
Hi @Dragonwarrior47 - please don't ask unrelated questions in old issues. If you're have a new issue, please open a new issue. Also, it would be helpful to have a more concrete code example. It's not entirely clear what you're looking for.

[2017-06-06 19:34] bbayles commented on #171
I've had the same issue, and was pleased to find that I wasn't the only one. Are you planning a release? I can confirm the branch above fixes my issue.

[2017-06-07 02:55] #171 closed

[2017-06-07 03:01] bbayles commented on #171
Excellent, thanks!

[2017-06-07 03:04] philipn commented on #171
I've just pushed `0.10.1` to PyPI, which should hopefully fix the above issues. If not, please comment / reopen this issue!

[2017-06-07 08:52] edmorley opened #176 "Changelog section missing for v0.10.1"
Thank you for the new release :-)

There doesn't appear to be a changelog entry for it in:
https://github.com/philipn/django-rest-framework-filters/blob/master/CHANGELOG.rst

From what I can see, #172 was the only change, and was to (a) fix #171, (b) improve performance.

(Having a changelog entry helps when using tools like pyup-bot, since it includes the entry in the PR it opens, but in this cas

[2017-06-07 08:54] edmorley commented on #176
(Having a changelog entry helps when using tools like pyup-bot, since it includes the entry in the PR it opens, but in this case it couldn't find one, eg: mozilla/treeherder#2542)

[2017-06-14 01:56] philipn commented on #176
Thanks for the catch!  We'll be sure to publish a changelog entry for all releases from now on (I published an entry in the GitHub 'releases' tab / associated git tag, but your use case makes a lot of sense).  If we 'fixed' this issue by publishing a new release with a CHANGELOG entry, that could be considered confusing :)

[2017-06-14 01:56] #176 closed

[2017-06-14 07:54] edmorley commented on #176
A new release isn't required to update the changelog, tools like pyup use the changelog from master :-)

[2017-06-14 16:18] rpkilby commented on #176
As an addendum, I don't think it's worth the effort, but a [post release](https://www.python.org/dev/peps/pep-0440/#post-releases) would be appropriate for this kind of update.

[2017-06-15 22:21] bkovacev commented on #131
You should use django-debug-toolbar to discover that. Use prefetch related or select related to make sure to exterminate Django ORM lazyness.

[2017-07-19 18:10] edmorley opened #177 "Provide wheel distribution on PyPI"
Hi!

Please could this package also by made available as a wheel on PyPI?
https://pypi.python.org/pypi/djangorestframework-filters

Wheels have the following advantages:
* Faster installation time
* Allows the wheel cache to work even when using the new pip hash-checking mode
* Allows tools to statically inspect the package metadata without having to execute untrusted code.
* ...and more - see: ht

[2017-08-28 04:38] sassanh opened #179 "Status of project"
Looking at recent commits seems like it's progressing slowly recently. I'm trying to find a good way for embedding filter sets in each other and `django-rest-framework-filters` has this out of the box. But I wanna know if using it is safe for long time. I know about issues 99 and 100 and those aren't currently a concern for my project as I don't expect anyone to try hacky things till user base gro

[2017-08-28 06:42] philipn commented on #179
@sassanh This project is actively maintained and has enough users that I expect it to stay that way for a while.  I personally haven't contributed much to the project in a while, but @rpkilby has been doing a fantastic job maintaining the package.

I use `django-rest-framework-filters` on https://localwiki.org (~1M monthly users), but I'm not using it on my current project yet.  If/when I do, I ex

[2017-08-28 07:57] sassanh commented on #179
That's good news. Thanks for sharing. I keep it open in case @rpkilby has a note on this.

[2017-08-28 08:36] sassanh commented on #179
I started migrating to `django-rest-framework-filters` and it's really cool. Migration from `django-filters` happened in a minute with some global replacements in project and `RelatedFilter` is very nice.

[2017-08-28 10:10] sassanh commented on #179
Now i noticed you're repository owner. Sorry. I think I can close it now as your information should be reliable.

[2017-08-28 10:14] sassanh opened #180 "Ensure nested relationships are valid for RelatedFilter"
It'd be great if we had same `source` parameter in other `django-filters` filters on `RelatedFilter`. Something like this:
[code]
So that instead of `/api/school/?students__student__registrations__examination__date__range` I can query `/api/school/?examination__date__range`. "students__student__registrations__" is internal detail that API user doesn't need to know about.

[2017-08-28 20:58] rpkilby commented on #180
I believe specifying `name` in this manner already accomplishes this.

[2017-08-28 21:01] rpkilby commented on #180
To further clarify, `name` is intended to be the target model field name. You should be able to specify a nested relationship as the name.

[2017-08-28 21:18] rpkilby commented on #179
Hi @sassanh - I'm still around as well. Active feature development has been on the back burner for some time, but I'm slowly clearing my plate.

[2017-08-28 22:19] sassanh commented on #180
That was my assumption too but unfortunately it raises this exception:
[code]

[2017-08-28 22:20] sassanh commented on #180
Other than that I think it'd be better if we keep the api the same as `django-filters` and use `source` for this purpose.

[2017-08-29 07:08] nogurenn opened #181 "Using Filter.method with multiple field lookups"
Is there a canonical/package way to filter a queryset inside `Filter.method` based on certain query parameter lookups?

The current behavior is that the filter method only triggers if the url query parameter exactly matches the filter calling the method (e.g. `?departure_date=2017-01-01`, but not `?departure_date__<lookup>=2017-01-01`). What I need is for `departure_date` filter to trigger whether

[2017-08-29 07:52] rpkilby commented on #181
Hi @nogurenn. [`BaseRangeFilter`](https://django-filter.readthedocs.io/en/latest/ref/filters.html#baserangefilter) is exactly what this is intended for.

I'm going to close this since it's a usage question, but feel free to ask followup questions here if necessary.

[2017-08-29 07:52] #181 closed

[2017-10-04 22:47] rpkilby commented on #165
It turns out that PyPI will automatically use the package's README if the setup script is missing a `long_description`. However, the check command doesn't have the same behavior, hence the erroneous success. Step one is to read in the REAMDE and set the `long_description`.

As to the actual rendering error, it had nothing to do with pygments and the http blocks. Docutils was complaining about line

[2017-10-04 22:57] #136 closed

[2017-10-04 23:09] #165 closed

[2017-10-04 23:49] rpkilby commented on #180
I've created a test/PR that guarantees this behavior. My guess is that the related name is not using the `related_query_name`, but is instead using the `related_name` of the related object manager.

[2017-10-04 23:51] #180 closed

[2017-10-05 00:14] #164 closed

[2017-10-05 00:16] rpkilby commented on #164
Hi @weasteam. I've added a test for exclusion filtering at the backend level. At this point, it's not clear to me what's causing the error you're seeing. My recommendation would be to create a sample project that has a minimal example demonstrating the issue. Additionally, it wouldn't hurt to update to the latest versions of the various packages.

[2017-10-19 13:46] danielhers opened #187 "TypeError: get_filter_name() takes 2 positional arguments but 3 were given"
Starting with django-filter 1.1.0 (released today), I get this error. With django-filter 1.0.4 it worked fine.

See carltongibson/django-filter#798, and the failing job [here](https://travis-ci.org/danielhers/UCCA-App/jobs/289970765).

Seems like the problem is with [this line](https://github.com/philipn/django-rest-framework-filters/blob/master/rest_framework_filters/filterset.py#L19), as the bac

[2017-10-19 13:53] Egregors opened #188 "New release django-filter change get_filter_name() method"
And we got `TypeError: get_filter_name() takes 2 positional arguments but 3 were given` exception:
[code]

[2017-10-19 13:58] danielhers commented on #188
Duplicate of #187.

[2017-10-19 17:03] #188 closed

[2017-10-19 22:06] #177 closed

[2017-10-20 18:36] george-silva commented on #155
I'm having issues with the following versions:

* django-filters==1.1.0
* djangorestframework-filters==0.10.1

[2017-10-20 18:48] edmorley commented on #155
@george-silva, your issue is likely something different, in this scenario normally the best bet is to open a new issue with full steps to reproduce, rather than commenting on a closed issue :-)

[2017-10-20 18:52] george-silva commented on #187
same issue here.

does the 1.0.4 version works fine?

[2017-10-20 18:53] danielhers commented on #187
Yes, a workaround is to pin django-filter to 1.0.4.

[2017-10-20 19:40] george-silva commented on #187
Yep, it worked!

[2017-10-20 19:41] george-silva commented on #155
@edmorley there's some incompatibility between versions. If I pin 1.0.4 for django-filter it works just fine. There is a already an issue open for this :D

[2017-10-20 19:58] #187 closed

[2017-10-20 20:03] rpkilby opened #190 "v0.10.2 release"
Hi @philipn - getting closer to that 1.0 release 😄, but in the meantime, this should fix compatibility with the newly minted django-filter v1.1.

Release notes (changelog.rst already up-to-date):
[code]

[2017-10-20 20:07] rpkilby commented on #187
Hi all, this has been fixed on master. v0.10.2 should be inbound shortly, but if you want django-filter v1.1 compatibility now, you can install 373242f385b368ef4ef96350c001daeb4bc05c9e.

[2017-10-20 20:15] philipn commented on #190
Thanks! Pushed and tagged!

[2017-10-20 20:15] #190 closed

[2017-10-20 20:16] rpkilby commented on #190
Thanks as always.

[2017-10-20 20:17] rpkilby commented on #187
v0.10.2 is no on pypi

[2017-10-20 20:17] rpkilby commented on #188
v0.10.2 is no on pypi

[2017-10-21 02:54] george-silva commented on #187
@rpkilby I'll test this shortly and I'll get back!

Thanks!

[2017-10-24 11:02] rpkilby commented on #134
Hi all, django-filter 1.1 has been released, as well as a compatible version of drf-filters.

[2017-10-24 11:04] rpkilby commented on #168
Hi @mlissner, django-filter 1.1 has been released, which includes the referenced fix.

[2017-10-24 16:01] mlissner commented on #168
Great news! Thank you so much!

[2017-10-26 13:05] rpkilby commented on #99
The upcoming v1 will change how queries are constructed, going from queries like q1 to queries like q3.

However, this issue is now more about the differences q3 and q5, and that will not be resolved in the release. For now, removing from the milestone.

[2017-10-31 13:03] mani098 opened #201 "Feature: Supports OR operations between fields"
Can we have an option to support OR operation to filter by value in multiple fields specified in URL
For example: /api/companies?search_fields=department__name,department__alias&search_value=Accounting
This will return queryset if `Accounting` present in either of the fields specified in the URL dynamically.

Reference:
from django.db.models import Q
qs = Company.objects.filter(Q(department__name=

[2017-10-31 14:29] rpkilby commented on #201
Hi @mani098, there are already a few options available.

If hardcoding the value for `search_fields` is acceptable, then you can use `Filter.method`. eg,
[code]

If you need to allow users to specify the fields, then you'll need to create a custom filter class. Something like the below should work. Keep in mind that I haven't actually ran this, so it's likely you'll need to fix it:
[code]

[2017-10-31 14:29] #201 closed

[2017-11-07 13:50] hmpf opened #202 "Version 0.10.1 has an exception when used with django-filter 1.1"
If I run django-rest-framework-filters 0.10.1 on top of django-filter 1.10 I get the following exception:

[code]
Downgrading django-filters to 1.0.4 solves the issue.

[2017-11-07 13:57] rpkilby commented on #202
Hi @hmpf - this is a duplicate of #187 and has already been fixed by #189. You need to upgrade to the v0.10.2 release.

[2017-11-07 13:57] #202 closed

[2017-11-09 15:02] jfsanchez-gh opened #203 "AttributeError: 'NoneType' object has no attribute 'update'"
Hello there,
I'm using Django Rest Framework Filters (DRFF).
I have these two **models definition**:

[code]

and as you can see an Application has many Releases with releated_name='releases'.
So, I have these two **serializers**:

[code]
these two **viewsets**:

[code]

and I have these two **filters** (using DRFF):

[code]

My REST API is running on localhost:9000/api/v1/
but, when I try to see

[2017-11-09 15:51] rpkilby commented on #203
Hi @jfsanchez-gh. `django-filters` is not actually the correct package. What's the version number for `django-filter` (note the lack of a trailing 's')?

[2017-11-09 15:58] jfsanchez-gh commented on #203
Hi @rpkilby I have django-filter==1.0.4.

[2017-11-09 16:00] rpkilby commented on #203
Try upgrading to `django-filter==1.1.0`.

[2017-11-21 03:39] rpkilby commented on #203
Hi @jfsanchez-g - I'm closing this for now, as there's nothing currently actionable. If you can provide more details, I'm more than happy to reopen and help debug the issue. I've started a #204 that contains tests for this. If you want to add to the tests, you can create a PR against my personal fork, or just post here in the comments.

Also, If you were able to figure out what was going on, a res

[2017-11-21 03:39] #203 closed

[2017-12-14 19:54] rustanacexd opened #206 "reverse relationship lookup support"
does this support reverse relationship lookup?

[2017-12-14 20:02] rpkilby commented on #206
yes

[2017-12-14 20:02] #206 closed

[2017-12-14 20:07] rpkilby commented on #206
If you're having difficulty setting up the relationship, my first guess would be that you're using the related accessor name instead of the related query name.

For example, if we have a simple Author <- Book model such as...

[code]

In order to access the author's books, you'd normally do
[code]

However, if you're filtering an author by the book relationship, the default related query name is j

[2017-12-22 15:58] RobinRamael opened #207 "Filtering on a through model doesn't work as expected?"
Hi!

I have two models: `Medium` and `Hashtag`, which are in a m2m relation with each other. `Medium` also points to another model, `Card`.

I'm writing an endpoint that now returns the most used hashtags for mediums corresponding to a certain set of filters and trying to do this with `rest_framework_filters.FilterSet`.

To achieve this, I'm trying to apply a `FilterSet` on a subquery on the m2m t

[2017-12-22 17:09] rpkilby commented on #207
I haven't finished reading this yet, but the FilterSet `Meta.fields` use seems a bit off. if you define a filterset A and another filterset B with a relation to A, it's not necessary to list A's filters in B's `Meta.fields`. eg,

[code]

[2017-12-22 17:23] rpkilby commented on #207
I'm going to have to come back to this later, but my recommendation is to simplify the problem first and work backwards towards your original issue. In this case, the 'most used' subquery seems superfluous to the filtering issues. Try testing your FilterSets directly and ignore the view for now. eg,

[code]

[2017-12-27 15:00] sassanh opened #209 "Possibility to make the root of RelatedFilter accept comma separated values"
Suppose that I have this filter class:
[code]
is it possible to query related itself like this:
[code]

[2017-12-27 19:57] rpkilby commented on #209
Hi @sassanh. You should be able to mix this with the `BaseInFilter`, although I haven't tried it. eg,

[code]

[2017-12-27 20:03] sassanh commented on #209
@rpkilby It worked. Such an intuitive api, didn't expect it to work.

[2017-12-27 20:03] #209 closed

[2017-12-30 05:10] rpkilby commented on #54
Closed by #198.

[2017-12-30 05:10] #54 closed

[2017-12-30 05:16] rpkilby commented on #207
I'm going to close this for now. If you can reduce the problem to a minimal example, I'd be happy to take a look at that. Ideally, this would include just models, filtersets, and an example query.

[2017-12-30 05:16] #207 closed

[2017-12-30 05:22] rpkilby commented on #131
I'm going to close this for now, as we have some basic performance tests that help ensure that drf-filters performs within the same realm of efficiency as django-filter.

[2017-12-30 05:22] #131 closed

[2017-12-30 17:04] fsaina opened #211 "ComplexFilterBackend usage"
The "old" docs describe the Complex Operations how-to. I would like to use that but there is no mention what version supports them. The new docs do not mention such functionality. What versions do i need to install in order to use the Complex Operations part ? For what i see you dropped support for that in the new 1.0 version.

EDIT: Sorry -- just seen It's a fresh feature. never-mind :)
Btw, grea

[2017-12-30 17:20] #211 closed

[2018-01-10 16:08] RobinRamael opened #213 "Get queryset from RelatedFilter after it was applied?"
Is it possible to get the filtered queryset from a related filter?

Say I have models:

[code]
and set up filtering for them

[code]
And use these in a view:

[code]

I was wondering wether there was anyway to get the `A` queryset from the `BFilter` as if I was doing
[code]
without having to resort to removing `'a__'` from all keys in the query param dict.

[2018-01-10 17:55] rpkilby commented on #213
The short answer is no, not currently. However, you may be interested in #199, which creates some new API surface, and reworks how related filtering is performed. eg, once #199 is cleaned up and merged, you'd be able to access the related queryset like so:

[code]

[2018-01-10 19:11] rpkilby commented on #213
Closing this, as there isn't anything actionable. #199 still needs some polishing, but it will cover the described use case and generally seems like the path forward.

[2018-01-10 19:11] #213 closed

[2018-01-10 20:40] hamstap85 commented on #163
I'm still confused. How was this resolved? What `djangorestframework` versions support Django 1.11?

[2018-01-10 20:46] rpkilby commented on #163
drf-filters 0.10 is compatible with django-filter 1.0, which is in turn compatible with django 1.11

In general, drf-filters is tested against the latest two versions of DRF and the latest version of django-filter.

[2018-01-10 20:59] hamstap85 commented on #163
We don't use drf-filters. There's nothing about any particular version of DRF that would be incompatible with Django 1.11?

[2018-01-10 21:03] rpkilby commented on #163
DRF-filters is just a shorthand name for djangorestframework-filters

[2018-01-10 21:04] hamstap85 commented on #163
Yes, we don't use that.

[2018-01-10 21:05] rpkilby commented on #163
Then you are in the wrong place. This is the issue tracker for djangorestframework-filters, not DRF.

[2018-01-10 21:05] hamstap85 commented on #163
Well darn. I was mistakenly linked here. Completely did not see "-filters" on the repo name. Sorry.

[2018-01-10 21:08] rpkilby commented on #163
No worries. 😄

[2018-01-11 09:03] RobinRamael commented on #213
Thanks!

[2018-01-11 12:33] rpkilby opened #217 "Document related filter negation"
This builds off of the thoughts in #54 and #99, but there may be some potential confusion when it comes to related filter negation. Building off the Blog/Entry example in #99, what would users expect to happen with the following filter?

[code]

Users might reasonably expect a list of blogs that *don't* have an entry about Lennon published in 2008.

[code]

Due to how related filtersets are proces

[2018-01-12 08:59] rpkilby commented on #217
The complex query negation does not work as expected, however it would be possible to implement this  using the `QuerySet.difference` method.

[2018-01-23 15:18] nhaggmark opened #221 "Timestamp comparisons not working for date querystring values"
Greetings!

I was just implementing a set of filters for a couple of timestamp fields in our system and I noticed that I could not get the gt, gte, lt, lte filters to work when plain dates are passed into the url.

Example:

If I use this querystring:

I get the following whereclause added to my ORM query (Postgres):

This is the expected behavior, however, if I use this querystring:

I don't get

[2018-01-24 15:47] rpkilby commented on #221
By default, validation errors will [return no results](https://github.com/carltongibson/django-filter/blob/1.1.0/django_filters/conf.py#L21). This is most useful for stock Django views, where you're usually displaying the filter form with the result set. Obviously, not quite as useful in an API context, where there is no accompanying form. Instead, change the strictness option to [raise a validati

[2018-01-24 15:48] rpkilby commented on #221
Going to close for now as I don't think see anything actionable, but feel free to continue asking questions if you need further help.

[2018-01-24 15:48] #221 closed

[2018-02-28 19:33] drewbrew opened #222 "Using RelatedFilter with name skipping a relationship doesn't seem to work"
TLDR: when using a `RelatedFilter` with `name='other_model__field'`, the related filter's attributes don't appear to be honored.

Example test case at https://github.com/drewbrew/related-filter-test.

## models.py

[code]

## filters.py

[code]

# Expected behavior

I should be able to filter chapters by `author__name__icontains=smith` and get only chapters by authors who have `smith` in their nam

[2018-02-28 19:44] drewbrew commented on #222
FWIW, the problem still exists with current master (a8fb84ba2c71b5881637157990202d8db72c428b) and django-filter 2.0.0.dev1 if I change `name` to `field_name` per the D-F 2.0 migration guide.

[2018-03-02 12:16] rpkilby commented on #222
Hi @drewbrew. The issue is that the `icontains` lookup hasn't been exposed on the author filter. Right now, the only valid filters are on the `name` and `id`. You would need to use the dictionary syntax of Meta.fields to expose lookups.

[code]

[2018-03-02 12:16] #222 closed

[2018-03-02 13:01] drewbrew commented on #222
Wow, I can't believe I messed that one up. Thanks again!

[2018-03-12 04:19] Madi7 commented on #125
It actually works, just provide 'name' to 'DateFromToRangeFilter':

`created = filters.DateFromToRangeFilter(name='dummy')`

Request will be like:

`?created_0=2016-01-01&created_1=2016-02-01`

[2018-03-28 14:48] efagerberg opened #223 "Provide ability to not include filters on ModelViewSet.get"
I noticed when setting up a filter with all lookup fields on a viewset that all the filters end up in the `get` method. These filters are most likely useless for gets and should not be included as parameters.

[code]
A serializer like this
[code]

and finally a viewset like this
[code]

If I register this to my urls I would get a route for a list view and a get similar to this `api/person/` and `a

[2018-03-28 15:43] rpkilby commented on #223
Hi @efagerberg. Can you provide more details? I'm not following your question.

[2018-03-28 15:50] efagerberg commented on #223
Sure thing @rpkilby so say I have this filter I will update the issue

[2018-03-28 20:05] rpkilby commented on #223
Thanks for the explanation. This issue isn't specifically related to drf-filters - any filter backend will have its fields present in the options list. Instead, this is most likely an issue with how the schema is generated, or how it's being used by drf-swagger. I can't really help with this, as I haven't used the auto-doc feature. My suggestion would be to raise an issue with drf-swagger.

[2018-03-28 20:05] #223 closed

[2018-03-29 02:35] efagerberg commented on #223
Thanks for looking in, I suppose it was presumptuous to assume the schema from swagger was the truth

[2018-04-11 10:23] radiegtya opened #224 "Already using 0.10.2 but latest class like RestFrameworkFilterBackend and ComplexFilterBackend Not Found"
Hi,

I was Already using 0.10.2 but latest class like RestFrameworkFilterBackend and ComplexFilterBackend Not Found. What am I doing wrong? Anyway if I import

[code]

Regards

[2018-04-11 11:28] radiegtya commented on #224
For now I was able to use this by installing from git

[code]

[2018-04-11 11:28] #224 closed

[2018-04-11 11:50] radiegtya opened #225 "ComplexFIlterBackend Unable to parse querystring. Decoded"
when I am running this filter

[code]

the result is like this
[code]

Please help, btw the units collection have code, and name fields.

[2018-04-11 12:06] rpkilby commented on #225
Please read the documentation for the [`ComplexFilterBackend`](https://github.com/philipn/django-rest-framework-filters#configuring-complexfilterbackend), specifically the section on [encoding the querystring](https://github.com/philipn/django-rest-framework-filters#complex-querystring-encoding).

[2018-04-11 12:06] #225 closed

[2018-04-11 12:07] rpkilby commented on #225
The short version is, if you're trying to run a query like:

`filters=(title__startswith=Who) | (title__startswith=What)`

It should be encoded like the following:

`filters=%28title__startswith%253DWho%29%20%7C%20%28title__startswith%253DWhat%29`

[2018-04-11 12:08] radiegtya commented on #225
Thank u, Sorry for not understanding well the documentation

[2018-04-12 07:24] l25359423 opened #226 "ImportError: cannot import name 'QUERY_TERMS'"
[code]
python3.6
django2.0.4

[2018-04-12 18:15] rpkilby commented on #226
Hi @l25359423 - the version of *django-filter* that you're using does not support django 2.0. There is a 2.0.0.dev1 release that does support django 2.x, but note that it *is* a development release.

[2018-04-23 17:59] Eloi-Marin opened #227 "AllLookupsFilter by default for specific model field"
Hi !

I'd like to do something like:

[code]

but it is not working :S Is there any reason for that ? I am doing the same for DateFields in order to activare range filtering for any date and it works well.

[code]

Also, would there be a way to set the allowed lookup_expr for AllLookupsFilter, something like

[code]

Thanks!!

----

(@rpkilby) edited for formatting

[2018-04-26 14:15] rpkilby commented on #227
Hi @Eloi-Marin. I can't dive into an in-depth explanation at the moment, but the short version is:

- None of the magic occurs within `AllLookupsFilter` - it [doesn't implement](https://github.com/philipn/django-rest-framework-filters/blob/a8fb84ba2c71b5881637157990202d8db72c428b/rest_framework_filters/filters.py#L44-L48) any real functionality. Instead, these filters act like a... virtual filter

[2018-04-26 14:15] #227 closed

[2018-05-09 06:44] crintus opened #228 "Add additional example to Complex querystring encoding"
https://github.com/philipn/django-rest-framework-filters#complex-querystring-encoding

The part about Complex querystring encoding is not very clear from the perspective of being used in an API. While the final line `Set as the value to the complex filter param (default: filters).` does explain to add the encoded complex querystring to the `filter` param, it is easily missed.

I suggest just addin

[2018-05-09 06:46] rpkilby commented on #228
Does the example following the instruction not illustrate this well enough?

[2018-05-09 07:06] crintus commented on #228
To me at least, it did not. Explaining the encoding was fine, but I ended up missing the last part saying to add the filters param 😓

[2018-05-09 07:10] rpkilby commented on #228
Would this have been more noticable?

If not, I'm happy to take suggestions.

[2018-05-09 07:12] crintus commented on #228
Yeah that should work. 👍

[2018-05-15 01:56] amcorreia opened #229 "ComplexFilter with python 2.7"
I was trying to use ComplexFilter but I can't upgrade right now my project to python 3, is there possible to use OR in filter in v0.10.2 ?

[2018-05-15 01:59] rpkilby commented on #229
Hi @amcorreia - can you be more specific?

[2018-05-15 02:36] amcorreia commented on #229
Hi @rpkilby,

I want to be able to do:
[code]

Using v0.10.2 with python 2.7.

[2018-05-15 02:43] rpkilby commented on #229
Unfortunately, there's no trivial way to setup OR filtering across multiple fields. django-filter chains the filter calls together, which is always an AND operation.

If you only need to OR two fields together, then your best bet is to setup a filter based on a MultiValueField (e.g., RangeFilter), and then use a custom filter method to construct your OR query.

I'm closing this since there's no ac

[2018-05-15 02:43] #229 closed

[2018-05-17 23:07] iwaszko opened #230 "AttributeError: 'NoneType' object has no attribute 'override_filters'"
I might be doing something wrong but my setup seems very simple:
- I'm using the latest version of `django-rest-framework-filters` (installed with pip from github, which also installs `django-filter` in version 2.0.0.dev1)
- `django-rest-framework` version 3.8.2, `django` version 1.11.12
- in settings, I have:
[code]
and for each `ViewSet` without `filter_fields` defined I'm getting the following

[2018-05-27 22:41] jdlovins opened #231 "Relationship filtering not working or only working one time"
Hi there,

Trying to get this working since it would save me a lot of time and redundant calls for IDs. I might be doing something completely wrong but it seems like on every restart it works 1 time before just ignoring the filter.

To give a brief overview of the structure (or https://git.resurfed.xyz/Resurfed/timer-web/tree/zones/maps ):

# requirements.txt
[code]

# settings.py
[code]

# models

[2018-05-27 23:52] rpkilby commented on #231
Hi @jdlovins. I've just briefly glanced over the code, and nothing immediately pops out at me as being unusual. At a first pass, I'd try printing out the SQL queries, seeing how they differ. If that doesn't point you in the right direction, I'd try simplifying the problem. You're currently traversing two relationships. I would reduce this to one. eg, Does `/maps/courses?map__name=value` work?

[2018-05-28 00:00] jdlovins commented on #231
@rpkilby Would you be be able to give me a code snippet on how to print out the SQL statements it's running? Would debug toolbar be of use for that?

It's good to know nothing looks obviously wrong but also annoying that something is wrong haha. I'll try reducing it down to 1 relationship and see what comes up.

[2018-05-28 02:55] jdlovins commented on #231
Well... I fixed it, due to some stupid luck.

1) I had forgotten to keep ``'django_filters',`` in the INSTALLED_APPS list.
2) Using the django_filters backend isntead of the django-rest-framework-filters backend works. Doesn't make a whole lot of sense to me but I'll take it. Not sure if that is a bug or not.

[2018-05-28 07:25] dzwiedziu-nkg opened #232 "Caching of FilterSet cause problems with ForeignKey in v0.10.2"
In v0.10.2 of `filterset.py` you have:
[code]

When I have:
[code]

And `views.py`:
[code]

Then when I make `GET /api/child_one/?parent=3` and after it I make `GET /api/child_two/?parent=10` then I get `ValueError: Cannot query "ParentOne(...)": Must be "ParentTwo" instance.` because botch subsets in cache have the same name. When I comment caching of subsets its works.

[2018-05-28 09:26] rpkilby commented on #232
Hi @dzwiedziu-nkg. In this case, you're not taking advantage of the cross-relationship filtering, so I would consider reverting to the standard `DjangoFilterBackend` for these views. eg,

[code]

Alternatively, you could create a `filter_class` with differing names so the caching can distinguish the two.

[code]

Either way, the caching will no longer be necessary, and has been removed in the next

[2018-05-28 09:36] rpkilby commented on #231
That shouldn't be strictly necessary. django-filter does include templates and localization files, but they shouldn't have prevented the filter from working.

I don't know why the standard backend would work, but not the drf-filters backend. All it's really doing is hooking into the subsetting behavior.

----

Just as a test, try installing the master branch, and see if that doesn't fix your issue

[2018-05-28 10:56] dzwiedziu-nkg commented on #232
Ok :) When you publish new version?

[2018-06-09 19:03] swapnilsm commented on #231
@rpkilby I tried installing from master branch. It did not fix the issue. Whereas @jdlovins's fix worked.

[2018-06-11 19:41] rpkilby commented on #232
It will be a while. Development is dependent on some upstream django-filter features, and django-filter won't update until DRF 3.9 is released.

[2018-06-20 06:27] pavankumar1792 opened #233 "Automatic Filter Negation/Exclusion not working"
Tried filter using negation(/api/trackcampaigns/?asin1__iexact!=B018XN37AU)  as described in the docs but it is not working.

[2018-06-20 20:52] jsmedmar opened #234 "Issue with RelatedFilter parameter name replacement"
Hey!

When I declare a related filter as `individual`, an extra query parameter `indivpkual` is generated.

What's happening is that `id`  is being replaced with `pk`. I think this is coming from:

https://github.com/philipn/django-rest-framework-filters/blob/a8fb84ba2c71b5881637157990202d8db72c428b/rest_framework_filters/filterset.py#L45

[2018-06-21 08:03] rpkilby commented on #234
Hi @jsmedmar, that is quite an amusing bug. Could you give a more complete example of your filtersets?

[2018-06-21 08:15] rpkilby commented on #233
Hi @pavankumar1792. There is too little information to act on here. If you can provide more details, I'd be happy to help you debug this.

[2018-06-21 08:15] #233 closed

[2018-06-21 09:15] pavankumar1792 commented on #233
Following is the filter class

class CampaignViewFilter(filters.FilterSet):
    class Meta:
        model = Product
        exclude_filters = True
        exclude_suffix = '!'
        fields = {
            'asin1': ['icontains','iexact','istartswith','iendswith',],
            'item_name': ['icontains','iexact','istartswith','iendswith',],
            'marketplace_name': ['icontains','iexact','is

[2018-06-21 09:22] rpkilby commented on #233
`exclude_filters` and `exclude_suffix` are not valid `Meta` options. Are you using some additional mixin that alters behavior?

[2018-06-21 09:37] pavankumar1792 commented on #233
No i am not using any additional minix. I used them after looking it up in stackoverflow. It is not working with out that meta options also.

[2018-06-21 09:39] pavankumar1792 commented on #233
is there any detailed documentation with multiple examples / scenarios available ?

[2018-06-21 10:17] pavankumar1792 commented on #233
@rpkilby how to use a field which is generated by serializers.SerializerMethodField() in filters ?

[2018-06-21 12:54] rpkilby commented on #233
Filters are related to model fields, not serializer fields.

[2018-06-21 13:57] rpkilby commented on #233
At this point, it's not clear to me why the code isn't working. The existing tests pass, so there's no reason for exclusion to not work. If you could, reduce this to a test case and submit it as a pull request.

Also, double check that there aren't any form validation errors.

[2018-06-26 01:23] aisabellafontes opened #235 "How can I filter fields related to itself?"
How can I filter looking for a parent id (related to the same Model)

[code]

E.g:

[code]

How can be the query filtering?

?category__parent

[2018-06-26 09:59] rpkilby commented on #235
Hi @aisabellafontes. I'm not understanding your question. The filter should just be `?category__parent=1`

[2018-06-26 13:59] rpkilby commented on #235
I'm going to close this for now, as it doesn't look like there is a bug, but please feel free to continue asking questions.

[2018-06-26 13:59] #235 closed

[2018-06-26 18:13] aisabellafontes commented on #235
Hi, I'm sorry for not clarifying. I want to search for a field parent=Null (high level);

I tried   `?category__parent__isnull=true (even True)` but only has failed.

How can do that?

[2018-06-26 18:59] rpkilby commented on #235
You need to make sure the filter is enabled on the category filter. eg,

[code]

[2018-06-29 02:26] ferrants opened #236 "Applying a FilterSet to an Annotated QuerySet?"
Hi! I'm trying to apply a filter to an annotated queryset, like is done here:
https://docs.djangoproject.com/en/2.0/topics/db/aggregation/#filtering-on-annotations

Similar to the snippet below, I'd like to make that `highly_rated` piece a FilterSet that picks up the request parameters
[code]
I'd like to make that `highly_rated` piece a FilterSet that picks up the request queries. Something like:

[2018-06-29 18:02] Guest007 opened #237 "query name different with field name"
installs django-rest-framework-filters (fresh from github)
python 3.6.5, django 2
This code is work.
[code]
`/api/v1/orders/order/?user=1` - works great.
but I need to use `customer` in query instead of real model name `user`:
`/api/v1/orders/order/?customer=1`
I tried this:
[code]
And got:
[code]
where I was mistaken?

[2018-06-29 18:10] rpkilby commented on #237
The `name` argument should be `field_name`. See if that fixes it.

[2018-06-29 19:22] ferrants commented on #236
Answered here:
https://stackoverflow.com/questions/51093503/applying-a-django-filterset-to-an-annotated-queryset

Closing this.

[2018-06-29 19:22] #236 closed

[2018-06-29 19:54] Guest007 commented on #237
@rpkilby thank you. It's work.

[2018-06-29 19:54] #237 closed

[2018-06-29 20:00] rpkilby commented on #237
Yep - django-filter 1.1.0 should raise deprecation warnings about `name` being renamed to `field_name`. In 2.x, the warning and backwards compatibility was removed (see: https://github.com/carltongibson/django-filter/pull/795).

Also, it's worth noting that the filter's attribute name is used as a default value when no `field_name` is explicitly provided. The first example works, because the filte

[2018-07-11 20:30] sassanh commented on #179
:confused:

[2018-07-11 20:31] sassanh commented on #179
Are you going to support Djanog 2.1?

[2018-07-11 20:45] philipn commented on #179
Can you open a specific issue with the question, e.g. Support Django 2.1?

[2018-07-11 20:46] #179 closed

[2018-07-11 20:50] sassanh opened #238 "Support for Django 2.1"
Looking at the main page of the repo and considering it's been inactive for a while I'm wondering if django 2.1 will be supported or not.
Currently it's raising this exception when used with django 2.1b1:
[code]
Also regarding this issue: https://github.com/philipn/django-rest-framework-filters/issues/179#issuecomment-325272715 that led me to use drf-filters in a big project I'm wondering what's t

[2018-07-11 20:50] sassanh commented on #179
Done

[2018-07-12 18:31] rpkilby commented on #238
Ah... right. django-filters doesn't support Django 2.1b1 yet. That `ImportError` would be fixed in https://github.com/carltongibson/django-filter/pull/921.

[2018-07-12 19:34] sassanh commented on #238
@rpkilby thanks for making things clear and for making master branch compatible with latest version of Django. It'll solve my problem as I need some new features in django 2.1 and am planning to upgrade to it as soon as it's released.

[2018-07-13 00:47] rpkilby commented on #238
It turned out that the master branch was already compatible - the issue was just with django-filter. If you install the branch from https://github.com/carltongibson/django-filter/pull/921, everything should work. I just ran the test suite against that branch, and all tests passed.

[2018-07-13 01:45] sassanh commented on #238
Great, thanks.

[2018-07-13 08:17] carltongibson commented on #238
https://github.com/carltongibson/django-filter/commit/ce047192749d09b01a59893801820cb255d9cdab

[2018-07-13 13:38] rpkilby commented on #238
@carltongibson - thanks for getting 2.x out the door. Glad to finally see that released.

Now I have don't have an excuse for not finishing the 1.0 milestone 😄

[2018-07-13 15:53] #238 closed

[2018-07-13 15:54] rpkilby commented on #238
I'm actively working on the 1.0 milestone today, but the master branch should now be Django 2.1 and django-filter 2.0 compatible. Let me know if you run into any issues.

[2018-07-13 16:10] rpkilby commented on #234
Hi @jsmedmar, I'm currently working on the 1.0 milestone and would like to get this bug fixed as part of that release. Do you have a terse example of the two `FilterSet`s?

[2018-07-13 16:18] sassanh commented on #238
Yeah the master branch is working for me. Thanks a lot. Looking forward for 1.0 version :-)

[2018-07-14 01:34] rpkilby commented on #100
It should be documented that a `RelatedFilter.queryset` should be consistent with the logic applied in `ViewSet.get_queryset()`. As explained above, an inconsitency would have the potential to leak data.

My recommendation would be to write queryset methods that provides the set of objects that a user should have read access to, then use that queryset method where necessary. e.g.,

[code]

[2018-07-14 02:45] rpkilby commented on #217
The latter of the two queries is functionally useless. If the parent relationship has *any* child element that isn't excluded, it will be included in the results. A parent would only ever be excluded if *all* of its children were excluded.

My initial reaction was to capture the exclusion markers and then flag that relationship to be excluded at the root filterset, however, this would also affect

[2018-07-14 23:08] rpkilby commented on #231
Hi @jdlovins and @swapnilsm, I just pushed some updates to the master branch that might fix your issue. Could you test the master? There was a bug in the browsable API that would break filtersets after form rendering (i.e., the browsable API), although it's not clear to me if this was the original issue.

[2018-07-15 20:07] rpkilby opened #251 "Update documentation"
- Changes to FilterSet related filtering
- How the above enables related annotation support
- Added `.relationship` attribute
- Added `.related_filtersets` attribute
- Added `.get_related_filtersets()` method
- Added `. filter_related_filtersets()` method
- Template rendering support

[2018-07-15 20:30] #230 closed

[2018-07-15 20:34] rpkilby commented on #232
Hi @dzwiedziu-nkg. I'm closing this issue, as this is fixed on the master branch, and the 1.0 release should be ready very soon.

[2018-07-15 20:34] #232 closed

[2018-07-15 20:35] rpkilby commented on #231
Hi all, I'm going to close this, assuming that the newly updated master branch fixes the issue. Let me know if there's still a bug, and I'm more than happy to reopen the issue.

[2018-07-15 20:35] #231 closed

[2018-07-20 15:52] kwigley opened #253 "v0.10.x Python 2.7 support"
Discovered that using `djangorestframework-filters==0.10.2` with Python 2.7 led to:
[code]
Turns out that

[2018-07-21 00:06] rpkilby commented on #253
Hi @kwigley. Notice that the error is occurring in django-filter. Most likely, you've unintentionally upgraded to django-filter v2.0, which was just released and is Python 3 only.

[2018-07-21 00:06] #253 closed

[2018-07-23 15:36] florimondmanca opened #256 "KeyError when using django_filter>=2.0"
## Steps to Reproduce

Note: the model I was using was replaced with a generic `MyModel` (for confidentiality concerns), so I have not run this code myself but hopefully it should be enough to reproduce the issue.

[code]

Then, in a test, performing:

[code]

raises the following error:

[code]

Previously, the `KeyError` was not raised and the filtering worked perfectly fine.

## Environment

Do

[2018-07-23 17:34] rpkilby opened #258 "v0.10.2.post0 release"
Hi @philipn. The 1.0 milestone is nearly ready - just working on docs. In the meantime, 0.10.x is not compatible with the latest 2.0 release of django-filter, so this sets the version to 1.x-compatible releases.

I created a separate 0.10.x branch (see #257), which should have an already updated `setup.py` and changelog. Could you double check the branch and upload to PyPI? Thanks as always.

Rele

[2018-07-23 17:40] rpkilby commented on #256
Hi @florimondmanca, I went ahead and created a `0.10.x` branch that sets the django-filter version to 1.x-compatible releases. @philipn should be able to create a post-release at some point.

[2018-07-23 17:45] rpkilby commented on #258
Ach, I screwed up the version name - fixed as `*.post0`. I had to directly muck with the commit, but the branch should be fixed. Also, Python 3.3 *should* still be supported, but I removed it from the Travis matrix because of build issues. Wasn't really worth the effort to fix that.

[2018-07-25 02:08] rpkilby opened #260 "Update DRF docs"
The blurb should be updated with the new backend class, `RestFrameworkFilterBackend`.
See: https://github.com/encode/django-rest-framework/pull/6093

[2018-07-25 21:47] joshua-s opened #261 "Errors on ViewSets with no filterset_class provided"
## Issue:
This line is causing ViewSets without a `filterset_class` to break: https://github.com/philipn/django-rest-framework-filters/blob/2fba26e4b9ca3cf129a880e6c3efe77461cea11b/rest_framework_filters/backends.py#L33

### It returns:
`TypeError: issubclass() arg 1 must be a class`

## Example ViewSet from my project:
I am using the `rest_framework_filters.backends.RestFrameworkFilterBackend` gl

[2018-07-25 22:09] rpkilby commented on #261
Thanks!

[2018-07-29 18:33] #261 closed

[2018-07-29 18:50] rpkilby commented on #251
@philipn - I was thinking about keeping things simple and just using GitHub pages for the docs. I've created the `gh-pages` branch, but I think you need to enable the setting. Also, while you're at it, you may want to disable the projects and wiki features.

[2018-07-30 04:04] rpkilby opened #265 "Fix crispy-forms template"

[2018-07-31 09:46] Sharlock93 opened #266 "Serialize the possible values for a field"
I have been looking for this for sometime now I couldn't find any documentation on it, is it possible to do it?
for example if you override a viewsets list method which has a filterset class, and you write something like this
`self.filterset_class.get_filters()['filed_name'].field.choices`
it will return the possible values for that field, I was wondering if there is a more straight forward way fo

[2018-07-31 15:32] rpkilby commented on #266
Hi @Sharlock93. It really depends on what you're doing here. If you're getting the choices generated by the filter, then this is probably the easiest way. If you're providing `choices` as an argument to a declared filter instance, e.g.,

[code]

then it would be simpler to reference those choices by a named variable instead. e.g.,

[code]

Note that choices can either be a list of two-tuples or a

[2018-07-31 16:54] Sharlock93 commented on #266
I mean for the choices generated, is it possible to get those generated values along with the 'list' method of the ViewSet, Look at this basic straight forward example:

[code]

if I do a `GET products/` it will list all the products for me. lets assume If i wanted to build a Filter bar in my front end in angular, I want to have a drop down list that will filter based on the `status` field of the

[2018-07-31 17:40] rpkilby commented on #266
Your current solution is probably the simplest path to getting the choices. A more general way of doing this in the view would be the following (note that this is for the upcoming 1.0 release):

[code]

I don't know if there's anything that django-rest-framework-filters can/should provide here.

[2018-07-31 18:12] Sharlock93 commented on #266
Thank you for the input.

[2018-07-31 19:08] #266 closed

[2018-08-06 06:30] ross-weir opened #267 "Module has no attribute ComplexFilterBackend"
Hey guys,

This is likely just configuration error but I have been completely unable to solve it.

I'm getting the following error when trying to use the `django-rest-framework-filters` package:

[code]

I have installed the package `djangorestframework-filters = "*"` and it is present in my Pipfile. I also have all the other requirements installed as well as the correct versions.

My projects set

[2018-08-06 18:15] rpkilby commented on #267
Hi @ross-weir, the complex filter backend is part of the 1.0 milestone that hasn't been released yet. I'm currently rewriting the docs and once that's done, 1.0 will be released.

In the meantime, the project is relatively stable and shouldn't see many changes before release. It should be relatively safe to install from the master branch.

[2018-08-06 18:15] #267 closed

[2018-08-07 17:04] efagerberg opened #268 "Does not work with django-filters 2.0.0"
Python 3.6
django-filter 2.0
Django 2.0.8
djangorestframework 3.8.2
djangorestframework-filters 0.10.2

[code]

[2018-08-07 17:08] efagerberg commented on #268
@rpkilby let me know if you need any more information

[2018-08-07 20:35] rpkilby commented on #268
Hi @efagerberg. The 1.0 milestone is nearly ready for release, which has compatibility with the latest versions of Django and django-filter.

At this point, I'm just working on docs, so it should be relatively safe to install from my master, until 1..0 is released.

[2018-08-07 20:35] #268 closed

[2018-08-07 20:49] efagerberg commented on #268
Thanks for the info good to know it is on it's way

[2018-08-10 12:42] sergei-maertens commented on #258
Currently upgrading a bunch of dependencies in a project and I also have to stick to django-filter 1.x now. Would be nice if this could land on PyPI soon. Is anything required to help speed this up?

[2018-08-12 03:12] rpkilby commented on #258
Are you waiting for the 1.0 release or the 0.10.2.post0 release?

Also @philipn, I don't know what your schedule is like these days. Would it help if I had maintainer access on PyPI? That would allow me to upload new releases.

[2018-08-12 03:34] philipn commented on #258
@rpkilby Yup, totally. Are you https://pypi.org/user/rpkilby/ on PyPI?

[2018-08-15 09:56] gotexis opened #269 "Filter the filters (ChoiceFields)"
When I initiate a modelchoicefield filter, all the choices from the model will be poured into the dropdown, which isn't what we need. I need the choices to be based on request.user.XXXX. So far I have tried to rewrite:

[code]

but keep running into 'self' argument is missing.

[code]

Can someone tell me what's is happening here?

[2018-08-15 15:08] rpkilby commented on #269
Hi @gotexis.

`ModelChoiceFilter` accepts a `queryset` argument, which is described [here](https://django-filter.readthedocs.io/en/master/ref/filters.html#modelchoicefilter). It accepts a callable, where the first argument is the `request` object. This will allow you to filter by the request user.

Also, if you want to format code blocks, use triple backticks instead of quoting with `>`. e.g.,
[co

[2018-08-15 15:08] #269 closed

[2018-08-15 15:25] gotexis commented on #269
Thank you very much!

On Thu, 16 Aug 2018 at 1:10 am Ryan P Kilby <notifications@github.com>
wrote:

--

*Zheng Zhang (Exis Zhang)*

+61 403 666 639

gotexis@gmail.com

[2018-09-06 05:09] yothinix opened #270 "DRF return empty list in results randomly, but count still correct"
When I'm trying to use the custom filter it's working all the time in local development, but when we deploy to Production (Docker Swarm) We found an issue that sometimes the API response is returned empty results randomly, but the count is correct. Below is the example results from the API

API Response

[code]

Right now we need to restart a uWSGI service (By restarting docker swarm for this serv

[2018-09-06 11:14] olasfar opened #271 "Complex Operations"
Hey guys,

Is there a way to do some complex queries like for instance:
[code]
The Django's queryset should look like :
[code]
Which will result in SQL to something like :
[code]
Or should we write something manual with the `django-filter` library?

Please advice.
Thx

[2018-09-06 20:10] rpkilby commented on #271
There are two parts to this question:
- How `FilterSet`s handle relationships (and how this is changed in the upcoming 1.0 release)
- How the complex backend functions

----

In general, your desired queryset isn't trivial to generate, given that django-filter always *chains* filter calls. To get a *combined* filter would require django-filter to reimplement itself using `Q` objects. While this ap

[2018-09-06 20:10] #271 closed

[2018-09-06 20:13] rpkilby commented on #270
I believe this is related to https://github.com/philipn/django-rest-framework-filters/issues/134#issuecomment-296702490. Please upgrade to django-filter 1.1.0, and let me know if that fixes your issue.

[2018-09-07 07:49] yothinix commented on #270
@rpkilby We just update `django-filter` to 1.1.0 and the problem still happen. Is it possible that when API received load of requests would cause this problem?

[2018-09-07 17:19] rpkilby commented on #270
It doesn't look like you're using any features specific to this package. I would see if you can reproduce this with just django-filter.

[2018-09-12 13:22] HVaghinak opened #272 "KeyError on filter fields"
After Upgrading **Django** from 1.11 to 2.0  I was required to upgrade django filters and django rest framework filters. After upgrading I'm getting KeyErrors on all  filter class fields, error occurred in django filter **firlterset.py** file in **filter_queryset** method , in django rest filters **filterset.py** file `self.filters` was overridden with requested_filters but in django_filters in **

[2018-09-12 16:34] rpkilby commented on #258
@philipn - yep, that's me.

I don't know why, but I never got a notification for your reply. Was just about to ping you again 😄

[2018-09-12 16:38] rpkilby commented on #272
Hi @HVaghinak. Support for django-filter 2.x only exists on the master branch. Please install from there until a new release is cut.

[2018-09-12 16:38] #272 closed

[2018-09-13 06:50] philipn commented on #258
@rpkilby Okay great, added you!

[2018-09-13 16:41] rpkilby commented on #258
Thanks @philipn - uploaded to PyPI.

[2018-09-13 16:41] #258 closed

[2018-09-21 04:25] rpkilby opened #273 "Create 1.0 prerelease"
There are a few bugs remaining, but the major 1.0 blocker is the documentation overhaul. In the meantime there should be at least be a prerelease so users don't need to install from GitHub.

[2018-09-25 09:09] LQBing opened #274 "Django 2.1 works not fine"
I was installed it with django 2.1, and alert:

from django.db.models.sql.constants import QUERY_TERMS

[2018-09-28 05:52] adambrenecki commented on #274
I've run into that issue; it's solved by upgrading `django-filter` to the 2.x release series; the error isn't actually in this package.

Unfortunately, when you do so, you get a different error:

[code]

Upgrading to the master branch fixes this error, but it seems that the fix hasn't made it into a release yet.

[2018-09-28 21:30] rpkilby commented on #274
Hi all, I've released v1.0.0.dev0 to PyPI. This is a developmental release, but is fairly stable.

[2018-09-28 21:30] #274 closed

[2018-09-28 21:31] rpkilby commented on #273
v1.0.0.dev0 is up on PyPI

[2018-09-28 21:31] #273 closed

[2018-10-02 10:42] yohanesa opened #275 "ImportError: cannot import name 'SortedDict' from 'django.utils.datastructures'"
Hello,

After installing and add to installed_apps, this error is shown.
The environment is in python 3.7.0 and Django 2.1 (2, 1, 0, 'final', 0)

Please help.

File "/opt/app/proj.com/lib/python3.7/site-packages/rest_framework_filters/__init__.py", line 3, in <module>
    from .filterset import FilterSet
  File "/opt/app/proj.com/lib/python3.7/site-packages/rest_framework_filters/filterset.py", li

[2018-10-03 08:17] #275 closed

[2018-10-11 05:06] ross-weir opened #276 "Complex filter returning all objects"
Hi. This is probably a mistake on my behalf but I'm having trouble getting complex filtering to return filtered items. I've searched the docs but haven't had any luck.

I am using the following filter:
[code]

It seems to be encoded correctly because when I make a get request it returns all of the instances and when I put a error in the encoding I receive a error about the encoding.

View:

[code]

[2018-10-11 06:17] rpkilby commented on #276
Hi @ross-weir. Off the cuff, everything seems correct.

Can you paste the validation error that you're receiving?

[2018-10-11 17:09] ross-weir commented on #276
Hey @rpkilby , thanks for the reply.

I purposely made a error in the following:

[code]

And got this error:
[code]

Although, if there are no intentional encoding errors I just always `GET` back the complete list of items, unfiltered.

[2018-10-11 19:43] rpkilby commented on #276
Okay, so if you're getting that error, then the complex filter backend is at least being executed, so that's a start.

In terms of solving this, my goto suggestion is to simplify the problem by removing complicating factors. Complex filters aren't working, what about regular filters? What happens if you make a JSON request instead of using the browsable API?

If that doesn't get you anywhere, then

[2018-10-11 21:03] ross-weir commented on #276
Thank you for the direction and for your time. I'll do some debugging after work and see if I can figure it out :+1:

[2018-10-15 06:04] ross-weir commented on #276
It took me farrrrrrrr too long to actually find this issue, none of the breakpoints in `filter_queryset` or `__init__` would get hit but I'd get the encoding error. The cause was having:

`filter_set = filters.ItemFilter`

not

` filter_class = filters.ItemFilter`

Lol. Thanks again for your help

[2018-10-15 15:17] rpkilby commented on #276
Nice. Glad you were able to fix it. Also, note that in django-filter 2.0, the attribute name is now `filterset_class`, not `filter_class`.

[2018-10-15 15:17] #276 closed

[2018-11-04 07:49] tluanga opened #277 "whenever i include the package in installed apps i get this error"
[code]

[2018-11-05 14:32] menecio commented on #277
`django-rest-framework-filters==0.10.2.post0` is not compatible with `django>=2.0`

[2018-11-05 20:56] rpkilby commented on #277
Hi @tluanga. You either want upgrade to the drf-filters `1.0.0.dev0` release, or you'll want to downgrade to Django `1.11`.

[2018-11-05 20:56] #277 closed

[2018-11-08 02:28] lcx94 commented on #226
![image](https://user-images.githubusercontent.com/22119475/48173998-08834480-e341-11e8-9194-e04ff7877693.png)
but still error

[2018-11-30 20:57] ferrants opened #278 "RelatedFilter 400s when Related Object not found by Id"
Versions:
[code]

If I filter by a related object and that related object is not found, I get a 400 error and an error like:
[code]

I have a a FilterSet defined like:
[code]

If I do a filter like:
[code]

This may also be a `django-filter` issue. Has anyone run into this and figured out how to get it to return a 200 with an empty list, like it did in previous versions.

[2018-11-30 21:11] ferrants commented on #278
Note, if the related id exists, this works as expected. The only issue is when the object is not found.

Also, suffixing `__id` works, but I'd like to not change the interface and maintain the previous behavior.
[code]

[2018-11-30 22:54] rpkilby commented on #278
Hi @ferrants. Sorry - I'm not following the description above. Can you provide more explicit cases that match requests/responses? e.g., "For this querysting, I get this response/error."

Thanks.

[2018-11-30 22:57] rpkilby commented on #278
Also, if you have the time, creating a PR with an example test case would be appreciated. Alternatively (if you don't want to go through the hassle), you can post the code here.

[2018-12-05 02:51] hasufell opened #279 "No examples"
The documentation makes little effort to give a comprehensive example and assumes people are familiar with django-filters and django-rest-framework. It gives pretty much no direction on how to create a simple dynamic REST query endpoint to your database model.

[2018-12-14 16:30] ZigmundVonZaun commented on #125
@Madi7 I changed `name` to `field_name`, worked for me

[2019-01-18 19:49] bewing opened #280 "Empty param name causes IndexError"
Passing an empty param name into a FilterSet causes an IndexError.  Example app and response below.
[code]

[code]

[2019-01-18 19:51] rpkilby commented on #280
Interesting. Thanks for the report.

[2019-02-06 23:23] iMerica commented on #226
Anything I can help with to make this Django 2.1 compatible?

[2019-02-07 02:57] rpkilby commented on #226
I'm currently working on fixing CI. Some things have changed with Travis & tox. Once that's ready, it should be fairly straightforward to update compatibility.

[2019-02-07 04:31] rpkilby opened #283 "Add Python 3.7 support for Complex Ops"
Python 3.7 moved [[*]](https://docs.python.org/3/library/urllib.parse.html#urllib.parse.quote) from RFC 2396 to RFC 3986, which adds ~ to the reserved character set. Tests/docs/code need to be updated to ensure that decoding both is handled appropriately. This may be purely a testing issue.

[2019-02-08 00:00] #280 closed

[2019-02-08 19:06] rpkilby commented on #226
Hi @iMerica. CI issues are fixed. The 1.0 pre-release is already compatible with Django 2.1

[2019-02-09 01:19] rpkilby opened #284 "Raise exception for auto filters if Meta.model not provided"
If a user does not provide a `Meta.model`, auto filters are simply skipped over. If a user has declared auto/related filters, this should raise a `TypeError` or similar instead.

https://github.com/philipn/django-rest-framework-filters/blob/f3e092cb1e1fe70fc5ae307f693a54cb10f127a3/rest_framework_filters/filterset.py#L36-L38

[2019-02-09 01:27] rpkilby commented on #234
Hi @jsmedmar. I've tried recreating this and have been unable to. If you can provide example filtersets that demonstrate the above issue, I'd be happy to work on a fix. Until then, there isn't much I can do.

[2019-02-09 01:41] rpkilby commented on #284
This conflicts with #82. While this is technically a silent failure, users will notice the missing filters and debug the issue. On the other hand, enforcing this loses the flexibility of generic filter mixins that don't declare a model, so this isn't worth the tradeoff.

[2019-02-09 01:42] #284 closed

[2019-02-09 02:14] jsmedmar commented on #234
Ryan thanks so much. Sorry I haven’t been able to get back to this.

[2019-02-09 02:42] rpkilby commented on #234
No worries. I'm slowly working towards a 1.0 release (fingers crossed, it's only taken three years 😄). If you have the time/capacity to throw some filters/tests at me, I'd be happy to look into the issue further. Otherwise, happy coding.

[2019-02-09 03:41] #226 closed

[2019-02-09 03:41] #228 closed

[2019-02-11 07:40] murdav opened #286 "nested, manytomany and prefetch_related"
First of all thanks for this package, it's very useful!
My models are structured like these:

[code]

[code]
Basically an `Alert `can have mutiple `Infos`.

I have these simple filters:

[code]

[code]
I tried to use the definition in the Meta or the field declaration in the class but I get the same result.

I would like to do a query like `http://localhost:8001/v1/alerts/?format=json&infos__statu

[2019-02-11 22:37] rpkilby commented on #286
Hi @murdav. You can filter the related results using a [`Prefetch`](https://docs.djangoproject.com/en/2.1/ref/models/querysets/#prefetch-objects) object. However, handling this is kind of an odd case, because serializing the related `Info` objects is obviously a serializer-level responsibility, but `Alert` filtering is a view-level responsibility. So, where to filter the related `Info` objects is

[2019-02-11 22:39] rpkilby commented on #286
I'm adding the above as a potential feature request, since it seems useful to automatically prefetch to-many relationships with the same query.

[2019-02-12 09:00] murdav commented on #286
@rpkilby many thanks for replying.
I tested the code but I encountered the N+1 queries problem because each info itself has several manytomany and onetomany relations using the PrefetchRelatedFilterSet.

The trouble should be within
[code]
Before entering in the `filter_related_querysets` the `queryset` contains the correct `_prefetch_related_lookups` values: `<class 'tuple'>: ('infos', 'infos__ow

[2019-02-12 09:39] murdav commented on #286
@rpkilby many thanks for replying.
I tested the code but I encountered the N+1 queries problem because each info itself has several manytomany and onetomany relations. While calling the `http://*/alerts/` URL (without applying filters) the n+1 doesn't happen.

This the AlertViewSet

[code]
Most probably applying filters like on alert__infos__status make it to reload the alert__infos instance and t

[2019-02-13 20:56] rpkilby commented on #286
The issue is that the filtered prefetch is named `filtered_infos`, while the other prefetch calls are traversing the the unfiltered `infos` relationship. The docs show that you can traverse prefetches.

[code]

So, you would need add in the additional prefetch calls against `filtered_infos`. Alternatively, you could drop the `to_name`, and have the filtered `infos` overwrite the default `infos` re

[2019-02-14 04:40] rpkilby commented on #279
Hi @hasufell. What exactly are you looking for in a comprehensive example? The documentation extensively covers the feature set, and there really isn't much to cover in terms of integration w/ DRF. If a user is familiar with DRF and django-filter, they already know everything they need to hook everything up. It would look something like the below, which is identical to regular django-filter integr

[2019-02-14 04:40] rpkilby commented on #279
Closing, as I don't know if there's anything actionable here. Again, PRs welcome.

[2019-02-14 04:40] #279 closed

[2019-02-15 20:14] edmorley opened #287 "Timeline for 1.0 final release"
Hi!

We're wanting to soon update to Django 2.1, however doing so requires that we update from django-filters 1.x to 2.x, which in turn throws up this pip warning:

[code]

What steps are left before `djangorestframework-filters` 1.0 final is ready for release, and do you know roughly when that might be? :-)

Many thanks!

[2019-02-15 20:20] rpkilby commented on #287
Ach, the 1.0 release has been a *long* time coming. *Only been working on it for ~3 years* 😅

There are a couple of minor issues that need to be resolved, the only big ticket left is an overhaul of the docs, which is sorely needed.

That said, 1.0 is mostly ready, and I would recommend trying the [1.0.0.dev0](https://pypi.org/project/djangorestframework-filters/1.0.0.dev0/) release.
- [Here](https

[2019-02-15 20:26] rpkilby commented on #287
Just realizing the above is not a timeline. I'll take a stab at the docs this weekend, and see how far along I can get. That should give me an idea of how much time it should to get an actual 1.0 release out the door.

[2019-02-16 01:23] #283 closed

[2019-02-16 01:45] rpkilby commented on #278
Just realized - this was an issue with the django-filter 2.0 release and changes to strictness behavior. This should have recently been fixed bit the 2.1 release.

[2019-02-16 01:45] #278 closed

[2019-02-20 12:42] edmorley commented on #287
Thank you for the clarification, that helps :-)

[2019-02-20 16:26] rpkilby commented on #287
Quick question - are you able to use the 1.0 pre-release? Have you ran into any issues so far?

[2019-02-21 03:58] rpkilby commented on #286
One thing I didn't really consider is nested prefetch calls. It's not clear if nested prefetching works with nested subqueries, or if they all need to be called on the primary queryset.

[2019-02-21 13:52] hemache opened #289 "Ability to handle all lookups for a non-field filter"
Hello guys,

I need to define a filter (`full_name`) that will lookup multiple fields (`'first_name', 'middle_name', 'last_name'`) at once based on a supplied `lookup_expr`.

for example, `/api/users/?full_name__startswith=test` will result queryset `Q(first_name__startswith='test') | Q(middle_name__startswith='test') | Q(last_name__startswith='test')`

is there a way to achieve this?

[code]

[2019-02-21 17:19] rpkilby commented on #289
What versions of django-filter and djangorestframework-filters are you using? For example, passing a list of lookups to a single filter is no longer supported - you would need to use the `LookupChoiceFilter`.

[2019-02-21 17:44] hemache commented on #289
I'm stuck with `Python2.7` and `Django1.11` so I'm using
[code]

[2019-02-21 21:51] rpkilby commented on #289
First, note that these two things produce two different results
[code]
[code]

The former creates a single filter that expects expects both a value and a lookup expression. e.g., your querystring would be (at least in v1.1.0) `?full_name_0=text&full_name_1=contains`. Note that this only supports one lookup at time - there is no way to combine both `gte` and `lte` lookups, although that wouldn't re

[2019-02-21 21:52] #289 closed

[2019-03-03 15:55] seifElislam opened #290 "Filtering fields order changes every time in swagger"
I'm using **drf-yasg** swagger library. I wrote filter_class using  **django-rest-framework-filters filterset**
. Every change in the code changes the filtering fields order in swagger.

![screenshot from 2019-03-03 17-54-14](https://user-images.githubusercontent.com/24291860/53697765-6a2e5980-3ddd-11e9-9a34-5a3db7e66461.png)

[2019-03-06 18:34] rpkilby commented on #290
Hi @seifElislam. It's not really possible to help without more detail. I assume you're using `Meta.fields` with a dict? If not, can you provide more details? e.g., what was your filterset class was before and after the code changes?

[2019-03-11 14:48] seifElislam commented on #290
well, sorry for being late, but  I think this behavior occurs because I'm using an apache server for production for my django app. With every apache restart, the order of fields in generated swagger json file is changed. I think, it is related to how apache serve the projcet, what's your opinion?

[2019-03-11 20:28] rpkilby commented on #290
It sounds like you're using Python 3 pre-3.6, which added insertion ordering to `dict`s. Before that, Python 3.3 [enabled hash randomization](https://stackoverflow.com/questions/14956313/why-is-dictionary-ordering-non-deterministic), so the same `dict` contents would be ordered differently per-process. I assume Apache is just restarting the underlying Python process, which causes the `dict` to be

[2019-03-12 19:42] edmorley commented on #287
Sorry for the delayed reply. We since discovered that the features we were using are now all natively supported by django-filters, so were able to remove the dependency on django-rest-framework-filters, so never got as far as trying the 1.0 pre-release. Thank you anyway :-)

[2019-03-13 20:46] mikelane opened #291 "Fix Deprecation Warnings for v0.10.2"
We're on `djangorestframework-filters` 0.10.2 and we're getting many of these warnings:

[code]
Also it happens on line 54 of that same file.

And

[code]

[2019-03-13 20:58] rpkilby commented on #291
Thanks. I'll check these out. Any other instances, or just those three?

Also, if you're using Python 3, you might want to check out the djangorestframework-filters 1.0 pre-release. This would also allow you to upgrade to django-filter 2.0

[2019-03-13 22:17] mikelane commented on #291
I'll look into the 1.0 pre-release, but we tend to shy away from pre-releases. Those are all the instances I've found so far, but I'm still looking.

[2019-03-13 22:47] mikelane commented on #291
I tried upgrading to `1.0.0.dev0` (and django-filters 2.0) but I'm not having success running our code now. Perhaps it's because we're using djangorestframework 3.9? Your readme suggests we need DRF 3.8.

[2019-03-13 23:19] mikelane commented on #291
Here is the error I'm getting with 1.0.0.dev0 (sorry, I have to obfuscate a bit of the start of it):

[code]
This happens when I try to import a class with a base class of `rest_framework_filters.FilterSet` (we have aliased `rest_framework_filters` to `filters` on import...

[2019-03-14 02:09] rpkilby commented on #291
Hm. The error is due to `model_field` being `None`, which would imply that the filter's corresponding model field was unresolvable. e.g., it might have been a bad `field_name`? Not entirely sure. I can't really debug this without seeing some kind of example that demonstrates the error.

Either way, it's up to you if you want to upgrade and try to debug this. Otherwise, I plan on fixing the warning

[2019-03-14 03:55] rpkilby commented on #291
Okay - I've just uploaded v0.11.0 to PyPI. This version specifically support django-filter `v1.1`, but not `v1.0`. Keeping this open as a reminder to update master with the v0.11 changelog.

[2019-03-14 04:06] rpkilby commented on #291
Update the master branch w/ changelogs

[2019-03-14 04:06] #291 closed

[2019-03-14 04:47] mikelane commented on #291
Thanks bunches. My DeprecationWarnings went from 5112 before this change to 433 😆

[2019-03-21 09:02] benjaminrigaud opened #295 "ImportWarning on Python 2: missing __init__.py in templatetags/"
[code]

The directory is empty.

[2019-03-21 18:15] rpkilby commented on #295
Thanks - this is an erroneous packaging issue. You can read more in #296.

[2019-03-21 18:33] rpkilby commented on #295
v0.11.1 is up on PyPI, which should fix the issue.

[2019-03-21 18:33] #295 closed

[2019-03-22 09:09] benjaminrigaud commented on #295
@rpkilby thank you :) have a nice day.

[2019-04-08 11:57] markgajdosik commented on #287
Thought I'd comment that we're using 1.0.0-dev0 in production without any issues.

[2019-04-09 00:35] rpkilby commented on #287
Thanks - good to know. There are still a few bugs (like rendering the forms in the browsable API w/ crispy forms), but the 1.0 release should largely be ready.

[2019-05-03 16:29] tonimarie opened #298 "Documentation on URL format inaccurate for DRF"
I was following your documentation and intending to use it with DRF.  The URL format used in your documentation for the RelatedFilter was not working (returned all records instead of filtered records)

Just about when I was going to lose my mind, I was in my browseable API and DRF amazingly has a button to trigger the filters I'd now created... and by using that GUI I ended up getting the correct

[2019-05-03 19:20] rpkilby commented on #298
Out of curiosity, what versions of DRF, django-filter and djangorestframework-filters are you using?

Also, it should be necessary to use the `asset` param in order to use `asset__status`. Can you provide sample models and filtersets?

[2019-05-06 12:56] moseb opened #299 "Build failing on master due to isort issues"
This repository is currently marked "build: failing" because commit f4806f3a8daea2a18aff218874789d542f841ee2 broke the CI regarding isort: https://travis-ci.org/philipn/django-rest-framework-filters/jobs/503911313#L237

Would be cool to be fixed. I can provide a pull request if needed

[2019-06-06 03:17] rpkilby commented on #299
Thanks for the report. It looks like this was an issue with isort that has since been fixed.

[2019-06-06 03:17] #299 closed

[2019-06-06 08:09] moseb commented on #299
If not from isort, `master` is red again on CI side though. I suggest to let more things go through pull request so that CI can have a say about them before hitting master, rather than pushing to master directly this much.

[2019-06-06 18:44] rpkilby commented on #299
There was a separate bug in the tox.ini that triggered when Django 2.2 was released. Fixed in #300.

If you look at the commit history, you'll see that I almost always use PRs. What's happening here is kind of interesting - it's a weird interaction between Travis's commit statuses and Travis's cron builds. Basically, the PR succeeds, but then something down the road changes and cron builds start f

[2019-06-07 09:59] moseb commented on #299
Interesting!

Error `sqlite3.OperationalError: no such table: auth_user` might have to do with use of `AUTH_USER_MODEL` without creating its tables or even setting its value in https://github.com/philipn/django-rest-framework-filters/blob/master/tests/testapp/migrations/0001_initial.py , just a guess.

[2019-06-07 17:48] rpkilby commented on #299
Yep - that was the issue. The reason the test suite started failing was due to bad version specifiers. All of the 2.x builds were running against Django 2.2 (released in April), instead of their respective 2.0 and 2.1 builds.